/**
 *  CSS for Screen and Print
 *
 *  All static widths should be placed here.
 *
 */
@media screen, print {
  
  /* Primary Item used for attention grabbing things before lists */
  .item-body .primary-item {
    
  }

  .item-header {
    overflow: hidden;
  }

  .item-header-avatar {
    float: left;
  }
  
  .item-content,
  .item-header .item-header-content {
    display: table;
  }

  .item-avatar {
    float: left;
    margin-right: 10px;
  }  
  
  .item-header .item-meta {
    float: right;
  }

  .bp-menu-item a span {
    color: #B8B8B8;
  }

  .bp-menu-item a span:after {
    content: ")";
  }

  .bp-menu-item a span:before {
    content: "(";
  }

  .bp-menu-item b.caret {
    margin-left: 5px;
  }

  /* Negative bottom tab to overlay the item-body element */
  .bp_nav.nav-tabs {
    margin-bottom: -1px;
  }

  /* Topic and Group Member listing */
  .item-body .item-list {

  }

    /* Groups and Member listing */
  .dir-list .item-list {

  }

  .dir-list .pagination,
  .item-body .pagination  {
    margin-top: 0;
    height: auto;
  }

  .dir-list .pagination  .pagination-links,
  .dir-list .pagination  .page-count,
  .item-body .pagination  .pagination-links,
  .item-body .pagination  .page-count {
    width: 50%;
    float: left;
  }

  .dir-list .pagination  .page-count,
  .item-body .pagination  .page-count {
    float: right;
    text-align: right;
  }

  .item-list-tabs .nav-pills {
    margin-bottom: 10px;
  }

  .item-list.members-list {
    clear: both;
  }

  .item-list.members-list li.cfct-block {

  }

  .item-list.members-list li.cfct-block {
    width: 33%;
  }

  .item-list.members-list  {
    margin-left: -7px;
    margin-right: -7px;
  }

  .item-list.members-list li.cfct-block .column-module {
    margin: 7px;
  }

  .avatar-crop-pane img,
  .jcrop-holder img {
    max-width: none;
    max-height: none;
  }
  
  .item-body textarea.input-xxlarge {
    min-height: 150px;
  }

  .item-body textarea.input-xlarge {
    min-height: 50px;
  }
  
  .activity-stream > li {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
  }
  
  /* Hide activity comments */
  .activity-stream .activity-comments {
    display: none;
  }
  
  
  /* Compatability with Flawless notice container for BP template_notices */
  .primary_notice_container  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

}


