 /*
  * Splash Page Styles
  *
  *
  */

html, body {
  height: 100%;
  overflow: hidden;
}

.content_container {
  display: table;
  height: 100%;
  width: 350px;
  margin: 0 auto;
}

.content_container div.center_me {
  display:table-cell;
  vertical-align:middle;
}

.content_container div.center_me .splash_container {
  margin-top: -40%;
  text-align: center;
}