.widget_qtranslate {
  background: none repeat scroll 0 0 #FBFBFB;
  bottom: 0;
  padding: 8px 15px 6px 7px;
  position: absolute;
  right: 19px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #C9C9C6;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-bottom: 1px solid #DDDDDD;
}

.widget_qtranslate .qtrans_language_chooser li {
  float: right;
  padding-left: 7px;

}

.widget_qtranslate .qtrans_flag:hover,
.widget_qtranslate li.active .qtrans_flag {
  border: 1px solid #888888;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.widget_qtranslate .qtrans_flag {
  border: 1px solid #888888;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
