/* CSS reset by Richard Clark - html5doctor.com */
/*-------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block
}
nav ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold
}
del {
	text-decoration:line-through
}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help
}
table {
	border-collapse:collapse;
	border-spacing:0
}
hr {
	background:url(../GFX/NewsDiv.jpg) no-repeat;
	width:466px;
	height:2px;
	display:block;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	padding:0;
	border:0;
}
input, select {
	vertical-align:middle
}
* {
	margin:0;
	padding:0
}
li {
	padding:0px;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, sans-serif;
	color: #7f50b4;
}
#in h1 {
	font-size: 26px;
	line-height: 24px;
	margin-bottom: 15px;
	padding-top: 20px;  
}
#in h2 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 15px;
	padding-top: 20px;
}
#in h3 {
	font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
	padding-top: 20px;
}
#in h3.post-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 0;
  padding-top: 20;
}
#in h3.post-title a {
  text-decoration: none;
}
#in h4 {
	font-size: 20px;
  line-height: 22px;
  margin-bottom: 15px;
	padding-top: 20px;
}
p, #in ul {
	font-size:14px;
	line-height:22px;
	margin-bottom:20px;
	color:#e4fff8;
}

#in ul li {
  margin-left: 40px;
  padding-left: 20px;
}

#left img { 
  height: auto !important;
  max-width: 100% !important;
}
p.post-date {
  font-size: 11px;
  text-transform: uppercase;
}
a {
	color: #1B6577;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
a:hover {
	color: #FDD129;
}
#leftin a {
  text-decoration: underline;
}
#islalogo {
	width:475px;
	height:310px;
	display:block;
	margin:0 auto;
}

.alignleft {
  display: block;
  float: left;
  margin: 0 20px 10px 0;
}


.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignright {
  display: block;
  float: right;
  margin: 0 0 10px 20px;
}


#box_facebook_comments {
  margin-top: 20px;
  background-color: #ffffff;
}

#in {
  
}


.id_share_buttons { height: 20px; margin: 0 0 15px 0; }
.id_share_buttons .id_share_tw { width: 100px; float: left; }
.id_share_buttons .id_share_fb { width: 300px; float: left; }
.id_share_buttons .id_share_fb span { width: 375px !important; }


/* MAIN STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


body {
	background:url(img/bg.jpg) top center no-repeat #fff fixed;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
#wrapper {
	width:970px;
	margin:0 auto;
}
#main {
	background:url(../GFX/BCK.png) repeat-y center;
	width:964px;
	margin:0 auto;
}
#header {
	background:url(img/header.png) no-repeat center;
	width:964px;
	height:383px;
	display:block;
	margin:0 auto;
}
#nav {
	background:url(../GFX/NavBCK.png) no-repeat center;
	width:964px;
	height:54px;
	display:block;
	margin:0 auto;
	text-align:center;
}
#content {
	width:886px;
	margin:0 auto;
	margin-top:6px;
	overflow:hidden;
	padding-bottom:5px;
}
#in {
	width:877px;
	margin:0 auto;
	margin-top:10px;
}
#left {
	width:516px;
	display:block;
	float:left;
}

#leftin {
	/*background:url(../GFX/LeftBCK.png) repeat-y top;*/
	margin:0 auto;
	width:466px;
	padding:15px 25px 15px 25px;
}

#right {
	width:348px;
	float:right;
	display:block;
}
#footer {
	background:url(img/footer.png) no-repeat center;
	width:963px;
	height:133px;
	display:block;
	margin:0 auto;
	overflow:hidden;
}
#footer div {
	margin:0 auto;
	text-align:center;
	margin-top:36px;
	color:#612a66;
}
#footer a {
	color:#612a66;
	text-decoration:none;
	font-size:13px;
}
#footer img {
	padding-top:7px;
}
#footer a:hover {
	color:#05392c;
}
/* NAV */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#nav ul {
	width:679px;
	margin:0 auto;
}
#nav ul li {
	float:left;
	list-style:none;
}
ul.main_nav li.n1 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}
ul.main_nav li.n2 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	left:102px;
}
ul.main_nav li.n3 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	left:218px;
}
ul.main_nav li.n4 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	left:341px;
}
ul.main_nav li.n5 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	left:434px;
}
ul.main_nav li.n6 {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	left:546px;
}

.fade {
	position:absolute;
	top:0;
	left:0;
	z-index: 10;
}
.fade2 {
	position:absolute;
	top:0;
	left:0;
}
ul#social {
	width:63px;
	margin:35px 0 0 850px;
}
ul#social li {
	float:left;
	list-style:none;
}
a#fb {
	background:url(../GFX/Nav/FB.png) no-repeat bottom;
	width:30px;
	height:29px;
	display:block;
	margin-right:3px;
}
a:hover#fb {
	background-position:top;
}
a#tw {
	background:url(../GFX/Nav/TW.png) no-repeat bottom;
	width:30px;
	height:29px;
	display:block;
}
a:hover#tw {
	background-position:top;
}
a#ms {
	background:url(../GFX/Nav/MS.png) no-repeat bottom;
	width:27px;
	height:41px;
	display:block;
}
a:hover#ms {
	background-position:top;
}
a#yt {
	background:url(../GFX/Nav/YT.png) no-repeat bottom;
	width:30px;
	height:29px;
	display:block;
}
a:hover#yt {
	background-position:top;
}
/* titles */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


h2#news {
	background:url(../GFX/NewsTTL.png) no-repeat center;
	width:880px;
	height:47px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}


h2#tixttl {
	background:url(../GFX/TixTTL.png) no-repeat center;
	width:880px;
	height:47px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}


h2#infottl {
	background:url(../GFX/InfoTTL.png) no-repeat center;
	width:880px;
	height:47px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}


h2#venuettl {
	background:url(../GFX/VenueTTL.png) no-repeat center;
	width:886px;
	height:52px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}


h2#contactttl {
	background:url(../GFX/ContactTTL.png) no-repeat center;
	width:880px;
	height:47px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}



h2#sponsorttl {
	background:url(../GFX/SponsorsTTL.png) no-repeat center;
	width:886px;
	height:52px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}



h2#talentttl {
	background:url(../GFX/TalentTTL.png) no-repeat center;
	width:880px;
	height:47px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}


h2#faqttl {
	background:url(../GFX/FAQttl.png) no-repeat center;
	width:886px;
	height:52px;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
}





/* left */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* right */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


h3#connect {
	background:url(../GFX/ConnectTTL.png) no-repeat center;
	margin: 0;
	padding: 0;
	width:348px;
	height:43px;
	display:block;
	text-indent:-9999px;
}
#side {
	background:url(../GFX/ConnectBCK.png) repeat-y top;
	width:348px;
	padding-bottom:10px;
}
#side div.frame {
	width:297px;
	padding: 13px;
	padding-right:10px;
	background-color:#1f7388;
	margin:0 auto;
}
#side div.frame2 {
	margin-top:7px;
}

#side .box_facebook {
  background-color: #ffffff;
  height: 350px;
}

#side .box_twitter {
  background-color: #ffffff;
  height: 400px;
}


/* Tickets */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


a.tix {
	background:url(../GFX/TixLInkBG.png) no-repeat bottom;
	width:436px;
	height:36px;
	padding-left:30px;
	line-height:36px;
	vertical-align:middle;
	font-size:12px;
	font-weight:bold;
	color:#e4fff8;
	text-decoration:none !important;
	display:block;
}


a:hover.tix { 
	background-position:top;
	color:#fff;
}


ul.main_nav li:hover.n4 #show { 
display:block; }


a#show { display:none; text-align:left; color:#FFFFFF; font-weight:bold; font-size:12px; width:118px; height:25px;
    background-color:#086260; z-index:999; position:absolute; top:50px; padding-top:12px; padding-left:12px; }

a#show span { color:#FFFFFF; font-weight:bold; font-size:12px; margin-top:12px; }


a:hover#show { background-color:#26c1be; }



/* Talent */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.talent {
	float: left;
	margin: 0 9px 0 0;
	width:434px;
}

.talent.last {
	margin: 0;	
}

.talentin {
	background: url(../GFX/TalentBCK.png) repeat-y top;
	padding: 0 0 10px 0;
	width:434px;
}

.day-title {
	margin: 17px 0 0 17px;	
}

.stage-title {
	background: url(../GFX/stage-title-bg.png) no-repeat;
	height: 40px;
	margin: 6px 0 5px 8px;
	width: 420px;	
}

.stage-title h6 {
	color: #d1de9d;
	font-size: 15px;
	font-weight: bold;
	padding: 17px 0 0 13px
}

.artist {
	background: url(../GFX/artist-bg.png) no-repeat;
	height: 31px;
	margin: 0 0 4px 8px;
	padding: 14px 0 0 12px;
	width: 408px;
}



.newsdiv {
	background:url(../GFX/NewsDiv.jpg) no-repeat;
	width:466px;
	height:2px;
	display:block;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
}