 /**
  * Carrington Build Module Tabs
  *
  *
  */

  div.cb_ud_tab_container_wrapper {
    background-color: transparent;
    border-width: 0;
    margin: 6px 7px 15px;
  }

  div.cb_ud_tab_container_wrapper  ul.cb_ud_tab_container {
    margin: 0;
    padding: 0 0 0 5px;
    overflow: hidden;
  }

  div.cb_ud_tab_container_wrapper .cb_ud_tab_action {
    cursor: pointer;
  }
  
  div.cb_ud_tab_container_wrapper li.cb_ud_tab {
    background: none repeat scroll 0 0 #5F5F5F;
    border-radius: 4px 4px 0 0;
    border-width: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 2px 4px;
  }

  div.cb_ud_tab_container_wrapper li.cb_ud_tab input.cb_ud_tab_label {
    background: transparent;
    width: 100px;
    color: #FFF;
    border-color: transparent;
    text-decoration: none;
  }
  
  div.cb_ud_tab_container_wrapper li.cb_ud_tab input.cb_ud_tab_label:focus {
    border: 1px dotted #7D7D7D;
  }
  
  div.cb_ud_tab_container_wrapper li.cb_ud_tab.selected_tab {
    background: none repeat scroll 0 0 #3A3A3A;
  }

  div.cb_ud_tab_container_wrapper li.cb_ud_tab.selected_tab .cb_ud_tab_action[cb_ud_tab_action="delete_tab"]  {
    color: #FFF;
  }
  
  div.cb_ud_tab_container_wrapper li.cb_ud_tab .cb_ud_tab_action[cb_ud_tab_action="delete_tab"]  {
     padding: 2px 0 2px 0;
  }  

  div.cb_ud_tab_container_wrapper div.cb_ud_tab_panel,
  div.cb_ud_tab_container_wrapper div.cb_ud_tab_options {
    background: none repeat scroll 0 0 #3A3A3A;
    border-width: 0;
    color: #FFFFFF;
  }

  div.cb_ud_tab_container_wrapper div.cb_ud_tab_panel {
    border-radius: 0 4px 0px 0px;
    min-height: 100px;
    padding: 6px;
  }

  div.cb_ud_tab_container_wrapper div.cb_ud_tab_options {
    border-radius: 0 0px 4px 4px;
    padding: 0px 8px 8px;
  }

  div.cb_ud_tab_container_wrapper div.cb_ud_tab_options .cb_ud_tab_action {
    margin-right: 5px;
    color: #828282;
  }
  
  div.cb_ud_tab_container_wrapper div.cb_ud_tab_options .cb_ud_tab_action[cb_ud_tab_action="destroy_tab_section"] {
    color: #666666;
    float: right;
  }
  
  div.cb_ud_tab_container_wrapper div.cb_ud_tab_options .cb_ud_tab_action:hover {
    color: #FFF;
  }




