/**
 * Name: WP-CRM Styles
 * Description: Extra styles for WP-CRM plugin.
 * Media: screen
 *
 */

.wp_crm_contact_form{
  background: #FBFBFB;
  border: 0px solid #EFEFEF;
}

.wp_crm_contact_form input, .wp_crm_contact_form textarea{
  width: 50%;
}

.wp_crm_submit_row .wp_crm_input_wrapper input{
  width: auto;
  padding: 5px 10px;
}

ul.wp_crm_contact_form li.wp_crm_form_element, ul.wp_crm_contact_form li.wp_crm_form_response, ul.wp_crm_contact_form li.wp_crm_submit_row {
  border-bottom: 0px solid #FFFFFF;
  border-top: 1px solid #EEEEEE;
  padding: 10px;
  clear: both;
}

ul.wp_crm_contact_form li.wp_crm_submit_row{
  border: 0;
}

span.wp_crm_error_messages, .wp_crm_response_text.failure, .wp_crm_response_text.success{
  border-radius: 3px;
  float: left;
  margin: 0 0 0 10px;
  padding: 5px;
}

.wp_crm_response_text.failure, span.wp_crm_error_messages{
  background: #FFD3D3;
  color: #D97272;
}  

.wp_crm_response_text.success{
  background: none repeat scroll 0 0 #98DE97;
  color: #1D8E23;
}    

ul.wp_crm_contact_form .wp_crm_form_element input{
  float: left;
}

.wp_crm_input_label {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
