
// Application Colour schema
//
// @version 0.1.0
// @author Usability Dynamics

.h-color {
  color: @default-color !important;
}

/* ==============
 Home Header
============== */

.banner-poster {

  h1, h2, h3, h4, h5, h6 {
    color: @font-default-color;
  }

  .value {
    color: @font-default-color;
  }

  .event-place .label,
  .event-time span {
    color: @high-color;
  }

  .btn {
    background-color: @default-color;
    color: @font-default-color;
  }

  .inner-banner {

    h3 {
      color: @default-color;
    }

    .days {

      .day {
        background-color: @default-color-rgba;
        color: @font-default-color;
        font-size: 120%;
      }

    }

    .value {
      color: @default-color;
    }

  }

}

/* ==============
 Navbar
============== */

.navbar {

  &.navbar-inverse {
    background-color: @default-color;
    border-bottom: 4px solid @default-color-active;

    .navbar-brand {
      color: @font-default-color;
    }

    .navbar-nav {

      a {
        color: @font-default-color;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus,
      & > li > a:hover,
      & > li > a:focus {
        background-color: @default-color-active;
      }

      & > .open > a,
      & > .open > a:hover,
      & > .open > a:focus {
        background-color: @default-color;
      }

      .dropdown-menu {
        background-color: @default-color-active;
        border-top: 4px solid @default-color-dark;

        & > li > a:hover,
        & > li > a:focus {
          background-color: @default-color;
        }
      }

    }

    .btn {
      background-color: @high-color;
      color: @font-default-color;
      border-color: @high-color;
    }

    .social-wrap {

      ul > li > a:hover,
      ul > li > a:focus {
        background-color: @default-color-active;
      }

      button.navbar-toggle {
        color: @font-default-color;
        border-color: @default-color-active;

        &:hover, &:focus {
          background-color: @default-color-active;
        }
      }

      ul {
        background-color: @default-color-active;

        a {
          color: @font-default-color;
          background-color: @default-color;
        }

      }

    }

  }

}

/* ==============
 CONTENT
============== */

main,
.content-container .module {
  p, span, div, li, ol, section, header, footer, blockquote {
    color: @content-font-color;
  }

}

main .content-container article,
main.single .container-inner,
main .module-container .module,
main .left-sidebar-section .module,
main .right-sidebar-section .module,
main .cfct-build .module-container {
  background-color: @content-bg;
}

main .content-container article,
main.single .container-inner,
main .module-container .module,
main .left-sidebar-section .module,
main .right-sidebar-section .module,
main .cfct-build .module-container {
  border-color: @content-border-color;

  a {
    color: @default-color;

    &:hover {
      color: @default-color-active;
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h4, h6 {
    color: @content-title-color;

    & a, & span {
      color: @content-title-color;
    }

  }

  blockquote {
    border-color: @content-font-color;
  }


}

main .cfct-block-sidebar .module,
main .left-sidebar-section .module,
main .right-sidebar-section .module {

  a {
    color: @content-font-color;

    &:hover {
      color: @default-color-active;
      text-decoration: none;
    }

  }

}

.wp-caption {
  border-color: @content-border-color;
}


/* ==============
 Footer
============== */

footer {
  background-color: @footer-bg-color;

  span, div, p, a, a:hover {
    color: @footer-color;
  }

  .footer-nav li {
    border-right-color: @footer-color;
  }

  ul.menu {

    li.menu-item {

      a {

        &:hover {
          &[href *="facebook.com"]:before,
          &[href *="twitter.com"]:before,
          &[href *="instagram.com"]:before,
          &[href *="youtu.be"]:before,
          &[href *="youtube.com"]:before {
            background-color: darken( @footer-social-button, 10% );
          }
        }

        &[href *="facebook.com"]:before,
        &[href *="twitter.com"]:before,
        &[href *="instagram.com"]:before,
        &[href *="youtu.be"]:before,
        &[href *="youtube.com"]:before {
          background-color: @footer-social-button;
        }

      }

    }

  }

}

/* ==============
 ARTIST LIST MODULE
============== */

main .artists-list {
  color: @the-artist-color;

  // Artist Alphabetical ( B-List )
  &.blist {
    h3, p {
      color: @font-default-color;
    }
  }

  // Local Artists
  &.local {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      border-color: @content-font-color;

      &:hover,
      a:hover,
      span:hover {
        color: @default-color !important;
      }
    }

  }

  span {
    &.hr {
      background: @default-color;
    }
  }

  .artist-preview {
    .date {
      .month, .day {
        color: @default-color;
      }
    }
    .image {
      .caption {
        color: @artist-preview-caption;
        background: @artist-preview-caption-bg;
      }
    }
  }

  a {
    &:hover {
      .image {
        .caption {
          background: @default-color;
        }
      }
    }
  }
}

/* ==============
 Local Support Artist
============== */

.local-support-artist {
  color: @the-artist-color;
  .heading {
    span {
      &.hr {
        background: @default-color;
      }
    }
  }

  ul {
    li {
      border-color: @gray-light;
      a {
        color: @gray-light;
      }
    }
  }
}


/* ============================
  Single Post content
============================ */

body.single .container-inner {

  header {
    .article-title {
      color: @default-color;
      text-transform: none;
    }
  }

  .meta {
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 12px;
    margin-bottom: 20px;
    label {
      font-weight: normal !important;
    }
    a {
      color: @gray;
    }
  }

  .article-image {
    img {
      width: 100%;
    }
  }

  blockquote {
    border-color: @default-color-active;
    &, p {
      color: @default-color;
    }
  }



}


/* ============================
  Author
============================ */

article.author {

  .author-wrapper {
    border-color: @content-border-color;
  }

  img.avatar {
    border-color: @default-color;
  }

  .display-name {
    color: @content-title-color;
  }

}



/* ==============
 Menuficiation
============== */

#menufication-top,
#menufication-non-css3-top,
#menufication-scroll-container {
  background: @default-color;
}

#menufication-top #menufication-btn:before,
#menufication-non-css3-top #menufication-non-css3-btn:before {
  border-bottom: 11px double @font-default-color;
  border-top: 4px solid @font-default-color;
}

#menufication-nav li, #menufication-non-css3-nav li {
  border-bottom: 1px solid @default-color-active;

  a {
    color: @font-default-color;
  }

}

#menufication-nav {

  ul > li {

    & > ul {

      li {
        border-color: @default-color-active;
      }

    }

  }

}

/* ==============
 Shortcodes
============== */

.gallery {

  .gallery-item {
    border-color: #E0E0DE;
  }

}

/* ==============
 CB Modules
============== */

.cfct-mod-image {
  border-color: @image-border-color;
}

// Artist-List

.cfct-module {

  .artists-list {

    .hr {
      background-color: @hr-color;
    }

  }

}

.cfct-sidebar {

  .module {

    &:after {
      background-color: @content-border-color;
    }

  }

}

/* ============================
  COMMENTS
============================ */

article.comments {

  .title {
    border-color: darken( @content-border-color, 10% );
    background-color: @content-border-color;
  }

  .comments-list {

    ul {

      li {
        border-color: @content-border-color;

        img.avatar {
          border-color: darken( @content-border-color, 20% );
        }

        .comment-author .fn,
        .reply a {
          color: @default-color;
        }

      }

    }

  }

}

/* ============================
  EVENT HERO MODULE
============================ */

.event-hero {

  .btn {
    background-color: @high-color;
    color: @font-default-color !important;
    border-color: @high-color;
  }

  a {
    &:hover {
      .caption {
        background: @default-color;
      }
    }
  }

  .image {
    .caption {
      color: @artist-preview-caption;
      background: @artist-preview-caption-bg;
    }
  }

}

/* ============================
  POSTS LOOP MODULE
============================ */

.posts-loop-module {

  .hr {
    background: @content-title-color;
  }

}

article.listing-post {
  border-color: @gray-lighter;
  box-shadow-color: @gray-lighter;

  // listing-post-featured template
  &.featured {

    .image {
      .category {
        background: @content-bg;
        a {
          color: @default-color;
        }
      }
      .hr {
        background: @hr-default;
      }
    }

    .text {
      background: @content-bg;
    }

    .title {
      a {
        color: @gray;
      }
    }

    .content {
      color: @gray-light;
    }

    .share {
      a {
        color: @gray-light;
      }
    }

    .date {
      text-transform: uppercase;
      font-size: 12px;
    }

  }

  // listing-post-stream template
  &.stream {
    .text {
      color: @gray;
    }
    .title {
      a {
        color: @gray;
      }
    }
    .content {
      color: @gray-light;
    }
    .network {
      color: @dark-blue;
    }
  }

  &.default {
    .hr {
      background: @default-color;
    }
    .featured-image {
      border-bottom-color: @gray-lighter;
    }
    .category {
      a {
        color: @category-link;
      }
    }
    .title {
      a {
        color: @gray;
      }
    }
    .share {
      a {
        color: @gray-light;
      }
    }
  }

}

.single {
  .container-inner {
    border: 2px solid @content-border-color;
  }
}


/* ==============
 Carousel
============== */

.carousel-inner {

  .item {

    span.date {
      color: @text-gray-color;
    }

    span.hr {
      background-color: @text-gray-color;
    }

    h5 {
      color: @default-color;
    }

    p {
      color: @text-gray-color;
    }

  }

}

.carousel-indicators {
  bottom: 0px;

  li {
    background-color: @carousel-indicator-bg;
  }
  .active {
    background-color: @carousel-indicator-active-bg;
  }
}