
// Application Colour schema
//
// @version 0.1.0
// @author Usability Dynamics

/* ==============
 Home Header
============== */

.banner-poster {

  h1, h2, h3, h4, h5, h6 {
    color: @font-default-color;
  }

  .value {
    color: @font-default-color;
  }

  .event-place .label,
  .event-time span {
    color: @high-color;
  }

  .btn {
    background-color: @default-color;
    color: @font-default-color;
  }
  
  .inner-banner {
  
    h3 {
      color: @default-color;
    }
    
    .days {

      .day {
        background-color: @default-color-rgba;
        color: @font-default-color;
        font-size: 120%;
      }

    }
    
    .value {
      color: @default-color;
    }
    
  }

}

/* ==============
 Navbar
============== */

.navbar {

  &.navbar-inverse {
    background-color: @default-color;
    border-bottom: 4px solid @default-color-active;

    .navbar-brand {
      color: @font-default-color;
    }

    .navbar-nav {

      a {
        color: @font-default-color;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus,
      & > li > a:hover,
      & > li > a:focus {
        background-color: @default-color-active;
      }
      
      & > .open > a, 
      & > .open > a:hover, 
      & > .open > a:focus {
        background-color: @default-color;
      }
      
      .dropdown-menu {
        background-color: @default-color-active;
        border-top: 4px solid @default-color-dark;
        
        & > li > a:hover,
        & > li > a:focus {
          background-color: @default-color;
        }
      }

    }

    .btn {
      background-color: @high-color;
      color: @font-default-color;
      border-color: @high-color;
    }

    .social-wrap {
    
      ul > li > a:hover,
      ul > li > a:focus {
        background-color: @default-color-active;
      }

      button.navbar-toggle {
        color: @font-default-color;
        border-color: @default-color-active;

        &:hover, &:focus {
          background-color: @default-color-active;
        }
      }

      ul {
        background-color: @default-color-active;

        a {
          color: @font-default-color;
          background-color: @default-color;
        }

      }

    }

  }

}

/* ==============
 CONTENT
============== */

.container-wrap,
.content-container .module {
  p, span, div, li, ol, section, header, footer, blockquote {
    color: @content-font-color;
  }
  
}

.container-wrap .content-container article,
.inner-wrapper.single .content-container,
.container-wrap .module-container .module,
.container-wrap .cfct-can-haz-build .module-container {
  background-color: @content-bg;
}

.container-wrap .content-container article,
.inner-wrapper.single .content-container,
.container-wrap .module-container .module,
.container-wrap .cfct-can-haz-build .module-container {
  border-color: @content-border-color;

  a {
    color: @content-font-color;
    
    &:hover {
      color: @default-color;
      text-decoration: none;
    }
  }
  
  h1, h2, h3, h4, h4, h6 {
    color: @content-title-color;
    
    & a, & span {
      color: @content-title-color;
    }
    
  }
  
  blockquote {
    border-color: @content-font-color;
  }
  
  
}

.wp-caption {
  border-color: @content-border-color;
}


/* ==============
 Carousel
============== */

.carousel-inner {

  .item {

    span.date {
      color: @text-gray-color;
    }

    span.hr {
      background-color: @text-gray-color;
    }

    h5 {
      color: @default-color;
    }

    p {
      color: @text-gray-color;
    }

  }

}

.carousel-indicators {
  bottom: 0px;

  li {
    background-color: @carousel-indicator-bg;
  }
  .active {
    background-color: @carousel-indicator-active-bg;
  }
}

/* ==============
 Footer
============== */

footer {
  background-color: @header-bg-color;

  span, div, p, a, a:hover {
    color: @footer-color;
  }

  .social a {
    background-color: @footer-social-button;
  }

  .footer-nav li {
    border-right-color: @footer-color;
  }

}

/* ==============
 The Artist
============== */

.container-wrap .artists-list {
  color: @the-artist-color;
  
  // Artist Alphabetical ( B-List )
  &.blist {
    h3, p {
      color: @font-default-color;
    }
  }
  
  // Local Artists
  &.local {
  
    .col-md-1, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 {
      border-color: @content-font-color;
      
      &:hover,
      a:hover,
      span:hover {
        color: @default-color !important;
      }
    }
  
  }

  span {
    &.hr {
      background: @default-color;
    }
  }
  
  .artist-preview {
    .date {
      .month, .day {
        color: @default-color;
      }
    }
    .image {
      .caption {
        color: @artist-preview-caption;
        background: @artist-preview-caption-bg;
      }
    }
  }
  
  a {
    &:hover {
      .image {
        .caption {
          background: @default-color;
        }
      }
    }
  }
}

/* ==============
 Local Support Artist
============== */

.local-support-artist {
  color: @the-artist-color;
  .heading {
    span {
      &.hr {
        background: @default-color;
      }
    }
  }

  ul {
    li {
      border-color: @gray-light;
      a {
        color: @gray-light;
      }
    }
  }
}


/* ==============
 Bottom Content
============== */

.bottom-content {
  border-color: @gray-lighter;

  ul {
    > li {
      border-color: @gray-lighter;
      box-shadow-color: @gray-lighter;
    }
  }

  .stream-items {
    li {
      &.stream-item {
        .text {
          color: @gray;
}
      }
      .title {
        a {
          color: @gray;
        }
      }
      .content {
        color: @gray-light;
      }
      .network {
        color: @dark-blue;
      }
    }
  }

  .blog-updates {
    .blog-item {
      .hr {
        background: @default-color;
      }
      .featured-image {
        border-bottom-color: @gray-lighter;
      }
      .category {
        a {
          color: @category-link;
        }
      }
      .title {
        a {
          color: @gray;
        }
      }
      .share {
        a {
          color: @gray-light;
        }
      }
    }
  }

  .festival-news {
    .news-item {
      .image {
        .category {
          background: #fff;
          a {
            color: @category-link;
          }
        }
        .hr {
          background: @default-color;
        }
      }
      .title {
        a {
          color: @gray;
        }
      }
      .content {
        color: @gray-light;
      }
      .share {
        a {
          color: @gray-light;
        }
      }
    }
  }
}

/* ============================
  Single Post content
============================ */

.inner-wrapper.single {

  header {
    .article-title {
      color: @default-color;
    }
  }
  
  blockquote {
    border-color: @default-color-active;
    &, p {
      color: @default-color;
    }
  }

}

/* ==============
 Menuficiation
============== */

#menufication-top, 
#menufication-non-css3-top,
#menufication-scroll-container {
  background: @default-color;
}

#menufication-top #menufication-btn:before, 
#menufication-non-css3-top #menufication-non-css3-btn:before {
  border-bottom: 11px double @font-default-color;
  border-top: 4px solid @font-default-color;
}

#menufication-nav li, #menufication-non-css3-nav li {
  border-bottom: 1px solid @default-color-active;
  
  a {
    color: @font-default-color;
  }
  
}

#menufication-nav {
  
  ul > li {
    
    & > ul {
      
      li {
        border-color: @default-color-active;
      }
      
    }
  
  }
  
}

/* ==============
 Shortcodes
============== */

.gallery {
  
  .gallery-item {
    border-color: @content-border-color;
  }
  
}

/* ==============
 CB Modules
============== */

.cfct-mod-image {
  border-color: @image-border-color;
}

// Artist-List

.cfct-module {

  .artists-list {
    
    .hr {
      background-color: @hr-color;
    }
    
  }

}

.cfct-sidebar {
  
  .module {

    &:after {
      background-color: @content-border-color;
    }
    
  }
  
}

.cfct-module-hero-wrap {
  background: @default-color-rgba;
  
  h2, div, a, p {
    color: @font-default-color !important;
  }
  
}