// Page Content Styles
//
// @version 0.1.0
// @author Usability Dynamics

main {

  .content-container article,
  .left-sidebar-section .module,
  .right-sidebar-section .module,
  .module-container .module,
  &.single .container-inner {
    border-style: solid;
    border-width: 2px;
    padding: 15px;
  }

  .column {
    margin-bottom: 20px;
  }

  .article-title {
    margin-top: 0;
  }

  .article-image {
    text-align: center;
    margin-bottom: 50px;

    img {
      display: inline-block;
    }

  }

  .module {
    margin-bottom: 20px;

    .module-title {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 125%;
    }

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      text-indent: 0;
      position: relative;

      li {
        margin: 10px 0;

        & > ul {
          position: static;

          & > li {
            padding-left: 20px;
          }

        }

        a {
          text-transform: uppercase;
          padding-left: 20px;
          display: block;

          &:before {
            content: "\0AB";
            position: absolute;
            left: 0;
          }

        }

      }

    }

  }

  .column,
  .left-sidebar-section  {

    &:first-child {

      ul {

        li {

          a {
            position: relative;
            display: block;
            padding-right: 20px;
            padding-left: 0;

            &:before {
              content: none;
            }

            &:after {
              content: "\0BB";
              position: absolute;
              right: 0;
            }

          }

        }

      }

    }

  }

  section.section {

    &, &:hover {
      border: 0;
      box-shadow: none;
    }

  }

}

/* ============================
  CARRINGTON BUILDER EXCEPTIONS
============================ */

main .article-content .cfct-build {

  .module-container {
    box-shadow: 0 0 5px #EEEEEE;
    -moz-box-shadow: 0 0 5px #EEEEEE;
    -webkit-box-shadow: 0 0 5px #EEEEEE;
    border-width: 2px;
    border-style: solid;
  }

  .module {
    border-width: 0;
  }

  .cfct-block-sidebar {

    .module-container {
      background: none;
      border-width: 0;
    }

    .module {
      border-width: 2px;

      // Disable borders on child modules to prevent extra borders
      .module {
        border-width: 0;
      }

    }

  }

  .cfct-mod-title,
  .widget-title {
    margin-top: 0;
  }

}

/* ============================
  FULL WIDTH PAGE EXCEPTIONS
============================ */

main.full-width {

  .content-container article,
  .module-container .module,
  .cfct-build .module-container {
    border-width: 0;
    background: none;
  }

}

/* ============================
  SINGLE POST CONTENT
============================ */
//main .content-container article
main.single {

  .content-container {

    article {
      border-width: 0;
      background: none;
    }

  }

  header {

    .article-title {
      text-transform: none;
    }

  }

  section.meta {
    text-transform: uppercase;
    margin: 20px 0;

    label {
      display: inline-block;
      margin-right: 10px;
      font-weight: 100;
    }

  }

  blockquote {
    margin-left: 0;
    padding-left: 15px;

    p {
      margin: 10px 0;
      font-style: italic;
      line-height: 20px;
    }

  }



}

/* ============================
  AUTHOR
============================ */

article.author {

  .author-wrapper {
    border-top-width: 2px;
    border-top-style: solid;
    padding: 50px 20px;
  }

  .author-avatar {
    float: left;
    margin-right: 20px;
  }

  .author-name {
    font-size: 75%;

    .display-name {
      font-size: 150%;
    }

  }

  p {
    margin: 20px 0;
  }

  img.avatar {
    width: 104px;
    height: 104px;
    border-radius: 52px;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    overflow: hidden;
    border-width: 4px;
    border-style: solid;
  }

}

/* ============================
  COMMENTS
============================ */

article.comments {

  .title {
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    h5 {
      padding-left: 30px;
      position: relative;
      &:before {
        content: "\e683";
        font-family: 'edm';
        left: 0;
        position: absolute;
        color: @default-color;
      }
    }

    h1, h2, h3, h4, h5, h5 {
      margin: 0;
      text-transform: none;
    }

  }

  .respond {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;

    textarea {
      width: 100%;
      background: @content-border-color;
      border: 1px solid @content-border-color;
      padding: 15px;
    }

    .comment-reply-title {
      text-transform: none;
      color: @gray;
      padding-bottom: 20px;
      border-bottom: 1px solid @content-border-color;
    }

    .comment-notes {
      display: none;
    }

    .comment-form-author, .comment-form-email {
      input {
        display: block;
        width: 60%;
        background: @content-border-color;
        border: 1px solid @content-border-color;
        padding: 15px;
      }
    }

    label {
      font-weight: normal;
    }

    .form-submit {
      input {
        background: @brand-blue;
        border: 1px solid @brand-blue;
        color: white;
        text-transform: uppercase;
        padding: 10px 30px;
      }
    }
  }

  .comments-list {
    margin-bottom: 50px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 30px 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        time {
          text-transform: uppercase;
          font-size: 11px;
        }

        article {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        ul li,
        &:last-child {
          border: none;
        }

        a {

          &:after {
            display: none;
          }

        }

        footer {
          background: none;
          padding: 0;
        }

        .comment-content, .reply, li {
          padding-left: 130px;
          padding-bottom: 0;
        }

        li li li {
          padding-left: 0;
        }

        .comment-content {
          padding-top: 10px;

          p {
            margin-bottom: 10px;
          }

        }

        .comment-author,
        .comment-metadata {

          &, span, a {
            display: inline;
          }

          span.says {
            display: none;
          }

        }

        .reply a {
          text-transform: uppercase;
          display: inline-block;
          position: relative;

          &:after {
            content: "\e663";
            display: block;
            font-family: 'edm';
            position: absolute;
            top: 0;
            right: -18px;
          }

        }

        img.avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          overflow: hidden;
          border-width: 3px;
          border-style: solid;

          margin: 0 40px 0 10px;
          display: block;
          float: left;

          &:after {
            content: " ";
            clear: both;
            text-indent: 9999px;
            line-height: 1px;
            height: 1px;
            margin-top: -1px;
          }

        }

      }

    }

  }

}

