/* ==============
 Carington Builder: Common Styles.
============== */

.cfct-build-module-edit-link {
  display:none;
}

.container-wrap .content-container article {
  
  // Don't show border for artcile content when CB is used
  &.cfct-can-haz-build {
    border: 0;
    background: none;
    padding: 0;
    border-width: 0;
    
    .module-container {
      border-width: 2px;
      border-style: solid;
    }
    
    .cfct-block-sidebar {
    
      .module-container {
        background: none;
        border-width: 0;
      }
    
    }
    
    .cfct-mod-title,
    .widget-title {
      margin-top: 0;
    }
    
    .module {
      border-width: 0;
    }
    
    .cfct-block-sidebar {
    
      .module {
        border-width: 2px;
        
        // Disable borders on child modules to prevent extra borders
        .module {
          border-width: 0;
        }
        
      }
    
    }
    
  }

}

.cfct-mod-image,
.cfct-mod-content {

  &:after {
    content: ".";
    text-indent: 9999px;
    height: 1px;
    line-height: 1px;
    margin-top: -1px;
    display: block;
    clear: both;
  }

}

.cfct-image-left {
  float: left;
  margin-right: 20px;
}

.cfct-image-right {
  float: right;
  margin-left: 20px;
}

/* ==============
 Module: Hero
============== */

.cfct-module-hero-wrap {
  padding: 20px;
}

/* ==============
 Module: Sidebar
============== */

// Fix paddings and margins for sidebar
.cfct-sidebar {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  
  .module {
    margin-bottom: 0;
    
    &:last-child {
      &:after {
        content: none;
      }
    }
    
    &:after {
      content: ".";
      text-indent: 9999px;
      margin: 25px auto 0;
      height: 1px;
      line-height: 1px;
      width: 100%;
      display: block;
    }
    
  }
  
}

/* ==============
 Artists List
============== */

.cfct-module .artists-list {
    
  h2,
  span.tagline,
  p.description {
    text-align: center;
    display: block;
  }
  
  h2 {
    font-size: 200%;
    margin: 0 0 10px;
  }
  
  span.tagline,
  p.description {
    margin: 10px 0;
  }
  
  .hr {
    height: 3px;
    line-height: 3px;
    width: 30px;
    padding: 0;
    margin: 6px auto;
  }

}