/* ============================
 Carington Builder: Common Styles.
============================ */
// Full Width Page
main.full-width .module {
  margin-left: -15px;
  margin-right: -15px;
}

.cfct-build-module-edit-link {
  display:none;
}

.cfct-mod-image {
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
  float: left;

  &.cfct-image-left {
    float: left;
    margin-right: 20px;
  }

  &.cfct-image-right {
    float: right;
    margin-left: 20px;
  }

}

footer {

  img.cfct-mod-image {
    border-width: 0;
  }

}



/* ============================
 Module: Hero
============================ */

.cfct-module-hero-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 280px;
  overflow: hidden;
  position: relative;

  .cfct-module-hero-gradient {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 49%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(49%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 49%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 49%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 49%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 49%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .cfct-module-hero-content {
    padding: 70px 20px 20px 20px;
    bottom: 0;
    left: 0;
    right: 0;

    .row {
      position: relative;

      .share-buttons-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;

        .share-buttons-list {
          float: right;
          margin: 20px 0 0 0;

          li {
            float: left;
            margin: 0 6px;
            max-width: 100px;

            &:last-child {
              margin-right: 0;
            }

            &:first-child {
              margin-left: 0;
            }

          }

          &:after {
            content: ".";
            visibility: hidden;
            line-height: 1px;
            height: 1px;
            margin: -1px 0 0 0;
            padding: 0;
            clear: both;
          }

        }

      }

    }

    .cfct-mod-title {
      text-transform: none;
      font-weight: 700;
      font-size: 325%;
      margin-bottom: 10px;
    }

    .more-link {
      display: block;
      margin-top: 10px;
    }

    p {
      margin: 0;
    }

    h2, div, a, p {
      color: #ffffff !important;
    }

  }

}

@media only screen and ( max-width: 990px ) {
  .cfct-module-hero-image {
    .cfct-module-hero-content {
      .row {
        .share-buttons-wrapper {
          position: static;
          width: 100%;
        }
      }
    }
  }
}


/* ============================
 Module: Sidebar
============================ */

// Fix paddings and margins for sidebar
.cfct-sidebar {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;

  .module {
    margin-bottom: 0;
    border-width: 0 !important;

    &:last-child {
      &:after {
        content: none;
      }
    }

    &:after {
      content: ".";
      text-indent: 9999px;
      margin: 25px auto 0;
      height: 1px;
      line-height: 1px;
      width: 100%;
      display: block;
    }

  }

}

/* ============================
 Module: Artists List
============================ */

main .cfct-can-haz-build .artists-list article {
  border-width: 0;
  background: none;
}

.artists-list {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 20px;

  .row-artists {
    padding-left: 30px;
    padding-right: 30px;
  }

  article {
    background: none;
    padding: 0;
    margin-bottom: 30px;
  }

  span {
    &.hr {
      height: 2px;
      margin: 15px auto;
      width: 40px;
    }
  }

  .img-responsive {
    width: 100%;
  }

  // Local Artists
  &.local {

    article {
      margin-bottom: 0px;
    }

    .row-artists {
      text-align: center;

      .col-md-1,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-5,
      .col-md-6,
      .col-md-7,
      .col-md-8,
      .col-md-9,
      .col-md-10,
      .col-md-11,
      .col-md-12 {
        float: none;
        display: inline-block;
        border-width: 0 2px 0 0;
        border-style: solid;
        width: auto;
        margin-bottom: 10px;
        padding: 0 30px;

        &:last-child {
          border-width: 0;
        }

      }

    }

    article {
      text-align: center;
      padding: 0;
    }

  }

  // Splash Artists List
  &.splash {

    .row-artists {
      padding: 0;
    }

    article {
      padding: 0;
      margin: 0 0 15px 0;
    }

  }

  .artist-preview {

    .date {
      height: 60px;
      text-transform: uppercase;
      font-size: 140%;
      font-weight: bold;
      .hr {
        height: 2px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0;
        width: 40px;
      }
    }
    .image {
      .caption {
        padding: 12px;
      }
    }
  }

}

/* ============================
 Module: Callout
============================ */

// Callout Module.
main .cfct-module-callout {
  overflow: hidden;

  .cfct-mod-image,
  .cfct-mod-content {

    &:after {
      content: ".";
      visibility: hidden;
      height: 1px;
      line-height: 1px;
      margin-top: -1px;
      display: block;
      clear: both;
    }

  }

  .cfct-mod-title {
    display: inline-block;
    margin-top: 10px;
  }

  .cfct-mod-content {

    p {
      margin-bottom: 10px;
    }

  }
}
.module {
  .cfct-mod-content {
    ul {
      padding-left: 20px;
      li {
        list-style: disc outside none;
      }
    }
  }
}

/* ============================
 Module: Event Hero
============================ */

.event-hero {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 20px;

  .logo-image img {
    max-width: 350px;
    max-height: 250px;
  }

  .btn {
    text-transform: uppercase;
  }

  .logo-image {
    margin-bottom: 20px;
  }

  .location {

    h5 {
      margin-bottom: 0;
    }

    span, h5 {
      font-weight: 700;
    }

  }

  .image {
    margin-bottom: 20px;

    img {
      margin: auto;
    }

    .caption {
      padding: 12px;
    }

  }

  .width-250 {
    margin: auto;
    max-width: 250px;
  }

  .content {
    margin: 20px 0;
  }

}

/* ============================
 Module: Advanced Hero
============================ */

.advanced-hero {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  .advanced-hero-content {
    padding: 60px 20px;
  }

  .parallax-img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  h3 {
    font-size: 200%;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

@media only screen and ( max-width: 990px ) {
  .advanced-hero {
    .parallax-img {
      display: none;
    }
  }
}


/* ============================
 Module: Post Loop
============================ */

.posts-loop-module {

  h3 {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  .hr {
    height: 2px;
    margin: 10px 0 25px 0;
    width: 40px;
  }

}

main article.listing-post {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2px #dfdfdf;
  margin-bottom: 40px;

  a:before, a:after {
    display: none !important;
  }

  .hr {
    height: 2px;
    margin: 10px 0 0;
    width: 40px;
  }

  &.default {

    .hr {
      height: 2px;
      margin: 0 0 0 20px;
      width: 40px;
    }
    .category {
      padding: 10px 20px;

      ul {

        li {
          display: inline-block;
          border: 0;
          margin: 0 10px 0 0;
          padding: 0;
          box-shadow: none;
        }

      }

      a {
        text-transform: uppercase;
        font-size: 80%;
        padding: 0;
      }
    }
    .title {
      padding: 0 20px;
      font-size: 100%;
      margin: 13px 0;

      a {
        text-transform: none;
      }

    }
    .share {
      padding-left: 20px;
      font-size: 70%;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

  }

  &.featured {

    h4 {
      margin: 0;
    }

    .category {

      ul {

        li {
          display: inline-block;
          border: 0;
          margin: 0 10px 0 0;
          padding: 0;
          box-shadow: none;
        }

      }

    }

    .image {
      position: relative;

      .category {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        padding: 10px 20px;

        a {
          text-transform: uppercase;
          font-size: 80%;
          padding: 0;
        }
      }

      img {
        width: 100%;
      }

    }

    .text {
      padding: 20px 40px;

      .title {
        font-size: 150%;
        text-transform: none;
        margin-bottom: 20px;
      }

      .content {
        font-size: 90%;
      }

      .share {
        font-size: 70%;
        text-transform: uppercase;
      }

    }

  }

}

/* ==============
 Carousel
============== */
.home {
  .carousel-wrap {
    .carousel-inner {
      height: 430px;
    }
  }
}
.carousel-wrap {

  h3 {
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: none;
  }

  h5 {
    text-transform: none;
  }

  .carousel-inner {
    padding-bottom: 30px;

    .item {

      .description {
        min-height: 200px;
      }

      span.date {
        display: block;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 700;
      }

      span.hr {
        margin: 0;
        height: 2px;
        width: 10%;
      }

      h5 {
        font-size: 125%;
        margin: 20px 0;
        font-weight: 700;
      }

    }

  }

}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  bottom: 0px;

  li {
    margin: 0;
    width:  12px;
    height: 12px;
    border: none;
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
  }
}

/* ==============
 Section Break
============== */
.section-break {
  height: 1px;
  width: 100%;
  display: block;
  &.solid {
    background: #E6E6E6;
  }
  &.dotted {
    background: url("@{img-url}/dotted.png") repeat-x;
  }
  &.dashed {
    background: url("@{img-url}/dashed.png") repeat-x;
  }
  &.large-dashes {
    background: url("@{img-url}/large-dashes.png") repeat-x;
  }
}

/* =============
  Social Stream
================ */
/* Reset */
.dcsns ul, .dcsns li {
	padding: 0;
	margin: 0;
	list-style: none!important;
	background: none;
}

/* Main styles */
/* Feeds */
.dcsns {
    color: #444;
    list-style: none outside none;
    margin: 0;
}
.dcsns h1 {
    width: auto;
	position: relative;
}
.dcsns h1, .dcsns h2, .dcsns h3 {
    line-height: 1.35em;
}
.dcsns-content {
	position: relative;
	padding: 0;
  overflow: hidden;
}
.dcsns-loading {
	background: url(../images/loading_light.gif) no-repeat 0 0;
	height: 24px;
	padding: 6px 0 0 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.dcsns-toolbar .dcsns-loading {
	right: 10px;
	left: auto;
  display: none;
}
.stream p {
	margin: 0;
	padding: 0;
}
.stream li a {
	color: #2DB6E8;
}
.stream li {
  box-shadow: #ddd 0px 0px 5px 0px;
  -webkit-box-shadow: #ddd 0px 0px 5px 0px;
  -moz-box-shadow: #ddd 0px 0px 5px 0px;

	background-color: #FFFFFF;
  border: 1px solid #F3F3F2;
	position: relative;
	margin-left: 0.5% !important;
  margin-right: 0.5% !important;
  margin-top: 15px;
	line-height: 1.35em;
  a {
    &:before {
      content: none !important;
    }
    &:after {
      content: none !important;
    }
  }
  .section-text {
    a {
      padding: 0 !important;
      display: inline !important;
    }
  }
  .network-label {
    position: absolute !important;
    right:0;
    bottom:0;
    padding: 5px !important;
  }
}

.col-md-12 {
  .stream {
    li {
      width: 23%;
    }
  }
}

.col-md-8 {
  .stream {
    li {
      width: 31%;
    }
  }
}

.col-md-4 {
  .stream {
    li {
      width: 98%;
    }
  }
}

.stream li .inner {
	overflow: hidden;
}

.stream li img {
  width: 100%;
}

.stream li .section-intro {
  padding: 7px 0 7px 10px;
  a {
    padding-left: 0;
    color: @gray !important;
    &:hover {
      color: lighten( @gray, 30% ) !important;
    }
  }
}
.stream li .clear {
	clear: both;
}

/* Content blocks */

.stream li .section-title {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.stream li .section-title a {
	color: #555;
}
.stream li .section-title a:hover {
	color: #2DB6E8;
}
.stream li .section-thumb {
  a {
    padding: 0 !important;
  }
}
.stream li .section-thumb img {

}
.stream li .section-text,
.stream li .section-thumb {
	display: block;
	margin-bottom: 3px;
}
.stream li .section-text br {
	display: block;
}
.stream li .section-user {
	clear: both;
	display: block;
	font-style: italic;
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 7px 0 0 15px;
	line-height: 12px;
	background: url(../images/profile.png) no-repeat 0 7px;
}
.stream li .meta {
	display: block;
	font-size: 90%;
	color: #999;
}
.stream li .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	line-height: 12px;
}
.meta span.shares {
	background: url(../images/shares.png) no-repeat 0 0;
	padding-left: 20px;
}
.meta span.views {
	background: url(../images/views.png) no-repeat 0 0;
	padding-left: 18px;
}
.meta span.likes {
	background: url(../images/likes.png) no-repeat 0 0;
	padding-left: 16px;
}
.meta span.comments {
	background: url(../images/comments.png) no-repeat 0 0;
}
.meta span.users {
	background: url(../images/users.png) no-repeat 0 0;
}
.meta span.videos {
	background: url(../images/videos.png) no-repeat 0 0;
	padding-left: 16px;
}
.stream li .section-meta {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.stream li .meta.item-comments {
	padding: 0 0 0 35px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
}
.stream li .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.stream li.dcsns-error {
	color: #990000;
}
.stream li .section-share {
	display: block;
	margin: 0 0 5px 0;
	padding: 4px 0 0;
	float: right;
}
.stream li .section-share a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
	background: url(../images/share.png) no-repeat 0 0;
}
.stream li .section-share a.share-twitter {
	background-position: 0 -16px;
}
.stream li .section-share a.share-reply {
	background-position: 0 -32px;
}
.stream li .section-share a.share-retweet {
	background-position: 0 -48px;
}
.stream li .section-share a.share-favorite {
	background-position: 0 -64px;
}
.stream li .section-share a.share-google {
	background-position: 0 -80px;
}
.stream li .section-share a.share-linkedin {
	background-position: 0 -96px;
}
.stream li .section-share a.share-facebook:hover {
	background-position: -16px 0;
}
.stream li .section-share a.share-twitter:hover {
	background-position: -16px -16px;
}
.stream li .section-share a.share-reply:hover {
	background-position: -16px -32px;
}
.stream li .section-share a.share-retweet:hover {
	background-position: -16px -48px;
}
.stream li .section-share a.share-favorite:hover {
	background-position: -16px -64px;
}
.stream li .section-share a.share-google:hover {
	background-position: -16px -80px;
}
.stream li .section-share a.share-linkedin:hover {
	background-position: -16px -96px;
}
/* Toolbar */
.dcsns-toolbar {
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
  border-bottom: 1px solid #E5E5E1;
  margin-bottom: 15px;
}
/* Filter */
#wall {
	padding-top: 15px;
}
#wall .dcsns-toolbar {
	margin-bottom: 25px;
}
.dcsns .dcsns-toolbar {
  display: none;
}
.dcsns-toolbar .filter {
	padding: 0;
	margin: 0 0 15px 0;
}
.dcsns-toolbar .filter li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
}
.dcsns-toolbar .filter .link-all {
	color: #fff;
	height: 21px;
	padding: 7px 7px 4px 7px;
	text-shadow: 0 0 1px #555;
	font-weight: bold;
}
.dcsns-toolbar .filter li a {
	padding: 4px 3px 0 3px;
	display: block;
	float: left;
}
.dcsns-toolbar .filter li img {
	margin: 0;
	height: 24px;
}
/* Controls */
.dcsns .controls {
	position: absolute;
	right: 0;
	top: 7px;
	height: 22px;
	padding: 0;
	z-index: 12;
}
.dcsns .controls li {
	display: inline;
	background: none;
}
.dcsns .controls a {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin: 0 0 0 2px;
	background: url(../images/controls.png) no-repeat 0 0;
}
.dcsns .controls .prev {
	background-position: -44px 0;
}
.dcsns .controls .next {
	background-position: -66px 0;
}
.dcsns .controls .play {
	background-position: 0 0;
}
.dcsns .controls .pause {
	background-position: -22px 0;
}
.dcsns .controls .prev:hover {
	background-position: -44px -22px;
}
.dcsns .controls .next:hover {
	background-position: -66px -22px;
}
.dcsns .controls .play:hover {
	background-position: 0 -22px;
}
.dcsns .controls .pause:hover {
	background-position: -22px -22px;
}

/* Facebook */
.stream li.dcsns-facebook .section-thumb img {
	width: 75px;
}
.stream li.dcsns-facebook .section-text img {
	margin: 5px 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.dcsns-facebook .section-text a {
	margin-right: 4px;
}
.stream li.dcsns-facebook .section-intro a {
	margin-left: 25px;
}
.stream li.dcsns-facebook .meta {
	display: block;
	clear: both;
}
.stream li.dcsns-facebook .meta.item-comments {
	padding: 0;
	min-height: auto;
}
.stream li.dcsns-facebook .meta.item-comments a {
	display: block;
	margin: 0 0 2px 0;
}
.stream li.dcsns-facebook .share-facebook {
	display: none;
}

/* google */
.stream li.dcsns-google .section-title {
	margin-bottom: 5px;
}
.dcsns .stream li.dcsns-google .section-thumb img {
	max-width: 192px;
}
.stream li.dcsns-google .meta span.plusones {
	padding-left: 0;
}
/* rss */
.stream li.dcsns-rss .section-text img {
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
/* stumbleupon */
.dcsns .stream li.dcsns-stumbleupon .section-title {
	display: block;
	clear: both;
}
.dcsns .stream li.dcsns-stumbleupon .section-thumb img {
	max-width: 192px;
}
/* youtube */
.stream li.dcsns-youtube .section-thumb img {
	max-width: 192px;
}
/* vimeo */
.stream li.dcsns-vimeo .section-thumb img {
	max-width: 192px;
}
.dcsns .stream li.dcsns-vimeo .section-title {
	display: block;
	clear: both;
}
.stream li.dcsns-vimeo .section-text {
	margin-bottom: 5px;
}
.stream li.dcsns-vimeo .section-text .meta {
	padding-top: 5px;
}
.stream li.dcsns-vimeo .logo {
	margin-bottom: 3px;
}
/* Flickr */
.stream li.dcsns-flickr .section-thumb {
	margin: 0;
}
.stream li.dcsns-flickr .section-thumb img{
	max-width: 192px;
}
/* Pinterest */
.stream li.dcsns-pinterest .section-thumb {
	display: block;
}
.stream li.dcsns-pinterest .section-text {
	clear: both;
}
.stream li.dcsns-pinterest .section-thumb img {
	width: 190px;
}
/* dribbble */
.stream li.dcsns-dribbble .inner img {
	margin-bottom: 5px;
	max-width: 192px;
}
/* lastfm */
.stream li.dcsns-lastfm .section-title {
	background: url(../images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
/* deviantart */
.stream li.dcsns-deviantart .section-thumb {
	display: block;
	float: none;
}
.stream li.dcsns-deviantart .section-thumb img {
	max-width: 192px;
}
/* tumblr */
.stream li.dcsns-tumblr .section-text img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.dcsns-tumblr .track {
	display: block;
	background: url(../images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}

.dcsns-twitter {
  .network-label {
    background:#01BEF6;
  }
}
.dcsns-instagram {
  .network-label {
    background:#7C4E3F;
  }
}

/*isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#dcsns-filter {
  a {
    transition: .5s all;
    text-decoration: none;
    outline: none;
    height: 27px;
    line-height: 14px;
    padding: 2px 10px 4px;
    position: static;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E1;

    &:before {
      content: none !important;
    }

    &:after {
      content: none !important;
    }

    &.iso-active {
      color: @default-color;
      border-bottom: 3px solid @default-color;
    }
  }
}