// Common Styles.

.content-container article {
  
  // Don't show border for artcile content when CB is used
  &.cfct-can-haz-build {
    border: 0;
    background: none;
    padding: 0;
    border-width: 0;
    
    .cfct-module-border,
    .cfct-module {
      margin-bottom: 30px;
    }
    
  }

}

.cfct-image-left {
  margin-right: 20px;
}

.cfct-mod-content {

}

.cfct-mod-title {}

// Module Hero.
.cfct-module cfct-module-hero {

  .cfct-module-hero-image {
    background-size: cover;

    .cfct-module-hero-wrap {

      .cfct-mod-title {

      }

      .cfct-mod-content {

      }

    }

  }

}

// Rich Text Module
.cfct-rich-text {

  .cfct-mod-content {


  }

}

// Callout Module.
.cfct-callout {
  overflow: auto;

  .cfct-mod-title {

  }

  h1.cfct-mod-title {

  }

  h2.cfct-mod-title {

  }

  h3.cfct-mod-title {

  }

  .cfct-mod-image {
    border: 1px solid #dadada;
    padding: 0.5em;
    float: left;

    &.cfct-image-left {

    }

    &.cfct-image-center {

    }

    &.cfct-image-right {

    }

  }

  .cfct-mod-content {

    p {

    }

  }
}

// Gallery Module
.cfct-module-gallery {

}

article.cfct-can-haz-build {

  section.article-image,
  header.article-header {
    display: none;
  }

}
.column {

  .cfct-build-module-edit-link {
    position: absolute;
    opacity: 0;
    bottom: -20px;
  }

  &:hover {

    .cfct-build-module-edit-link {
      opacity: .7;
    }

  }

}

/* ==============
 Artists List
============== */

.cfct-module {

  .artists-list {
    
    h2,
    span.tagline,
    p.description {
      text-align: center;
      display: block;
    }
    
    h2 {
      font-size: 200%;
      margin: 0 0 10px;
    }
    
    span.tagline,
    p.description {
      margin: 10px 0;
    }
    
    .hr {
      height: 3px;
      line-height: 3px;
      width: 30px;
      padding: 0;
      margin: 6px auto;
    }
    
  }

}