
/* ==============
 [gallery]
============== */
.gallery {
  text-align: center;

  .gallery-item {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 10px;
    margin: 0 20px 20px 0;

    .wp-caption-text {
      padding-left: 5px;
      text-align: left;
      margin-top: 10px;
      overflow: hidden;
      max-height: 40px;
      font-size: 14px;
      white-space: nowrap;
    }

    img {
      width: 100%;
    }
  }

  &.gallery-columns-4 {
    .gallery-item {
      width: 22%;
    }
  }

  &.gallery-columns-3 {
    .gallery-item {
      width: 30%;
    }
  }

}

.btn-custom {
  transition: .5s all;
  -moz-transition: .5s all;
  -webkit-transition: .5s all;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: uppercase;
  &.small {
    padding: 2px 9px;
  }
  &.medium {
    padding: 6px 12px;
  }
  &.large {
    padding: 12px 28px;
  }
}