body {

}

video {
  max-width: 100%;
  height: auto;
}

.banner-poster {
  overflow: hidden;
  max-height: 630px;
}

div.navbar {
  margin-bottom: 0;
}

.wp-aside {

  .element-event-logo {

    h1.logo-placeholder a {
      visibility: hidden;
      height: 250px;
    }

  }

  .element-event-meta {

    .event-date {

    }

    .event-city {

    }

    a.btn-primary {

    }

    a.ticket-information {

    }

  }
  .element-sponsors {

  }

  .element-event-days {

    .day {
      padding: 10px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

  }

  .element-event-location {

    .label {
      padding: 20px 0 4px;
    }

    .value {
      text-transform: none;
      padding: 0;
      font-size: 90%;
    }

  }

  .element-trailer {

    #trailer-video {
      border: 0.8em solid rgba(63, 122, 232, 0.09);
    }
  }

}

.content-wrapper {
  min-height: 10em;
}

#wpstats {
  display: none;
}