// General Theme Styles
//
// @version 0.1.0
// @author Usability Dynamics

html, body {
  overflow-x: hidden;
  border: 0 !important;
}

.container {

  .container {
    padding: 0;
    width: auto;
  }

}

.text-center {
  text-align: center;
}

span.hr {
  display: block;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  margin: 25px 33%;
  background-color: @hr-color;
  content: '&nbsp;';
}

.block {
  margin-bottom: 1em;
}

main {
  padding-top: 2em;
  padding-bottom: 5em;
}

.main-title {
  h2 {
    color: #292B2A;
  }
  span {
    color: #292B2A;
    &.hr {
      background: none repeat scroll 0 0 #292B2A;
      height: 3px;
      margin-left: 0;
      margin-top: 0;
      width: 45px;
    }
  }
}

/* ==============
 Navbar
============== */

.customize-support {

  .navbar-fixed-top {
    top: 32px;
  }

}

.navbar {
  z-index: 1000;
  width: 100%;
  margin-bottom: 0;

  .container {
    position: relative;
  }

  &.navbar-inverse {
    border-radius: 0;
    border-top: 0;
  }

  .sticky {
    display: none;
  }

  .navbar-header {
    position: relative;
    z-index: 9999;
  }

  a {
    text-transform: uppercase;
  }

  .navbar-brand {
    padding: 4px 7px 7px 7px;
    height: 50px;
    margin-left: 0;
    padding-left: 0;

    .logo {
      float: left;
    }

    .btn {
      margin: 2px 30px 0 20px;
      text-transform: uppercase;
      font-weight: 700;
    }

  }

  .social-wrap {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: right;

    .btn {
      margin-top: 10px;
    }

    .social-flex {
      position: absolute;
      right: 140px;
      top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: right;

      li {
        display: block;
        float: left;
        padding-left: 2px;
        margin: 0;
      }

      li:last-child {
        padding-right: 2px;
      }

      a {
        display: block;
        text-decoration: none;
        width: 50px;
        height: 50px;
        text-align: center;
      }

      [class^="icon-"], [class*=" icon-"] {
        font-size: 22px;
        line-height: 50px;
      }

    }

  }

}

.navbar-top {
  border-left: 0px;
  border-right: 0px;
}

.is-sticky .navbar-top,
.navbar-fixed-top {

  .sticky {
    display: block;
  }

  .no-sticky {
    display: none;
  }

  .social-wrap {

    .social-collapse {
      float: none;
      clear: both;
    }

    ul {

      li {
        float: none;
        padding-bottom: 2px;

        &:first-child {
          padding-top: 4px;
        }

      }

    }

    button.navbar-toggle {
      float: right;
      display: block;
      border: 0;
      width: 54px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      margin: 0;
      padding: 0;
      border-style: solid;
      border-left-width: 2px;
      border-right-width: 2px;
      border-radius: 0;
    }

  }

}


/* ==============
 Custom
============== */

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

main > p > .btn {
  margin: 5px 0;
}


/* ==============
 FOOTER. MENU AND SOCIAL MENU
============== */

footer {
  margin: 0;
  padding: 20px 0 40px 0;

  .row {
    padding-top: 20px;
  }

  ul.menu {
    list-style-type: none;
    padding: 0;

    li.menu-item {

      &:after {
        display: block;
        clear: both;
        content: ".";
        text-indent: 9999px;
        line-height: 1px;
        height: 1px;
        font-size: 1px;
        margin-top: -1px;
      }

      a {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;

        &[href *="facebook.com"],
        &[href *="twitter.com"],
        &[href *="instagram.com"],
        &[href *="youtu.be"],
        &[href *="youtube.com"] {
          display: block;
          margin-bottom: 3px;
          line-height: 50px;
        }

        &[href *="facebook.com"]:before,
        &[href *="twitter.com"]:before,
        &[href *="instagram.com"]:before,
        &[href *="youtu.be"]:before,
        &[href *="youtube.com"]:before {
          font-family: 'edm';
          display: block;
          float: left;
          background: #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 24px;
          margin-right: 8px;
        }

        &[href *="facebook.com"]:before {
          content: "\e696";
        }

        &[href *="twitter.com"]:before {
          content: "\e695";
        }

        &[href *="instagram.com"]:before {
          content: "\e750";
        }

        &[href *="youtu.be"]:before,
        &[href *="youtube.com"]:before {
          content: "\e74d";
        }

      }

    }

  }

}

.social-wrap {
  ul.nav {
    list-style-type: none;
    padding: 0;

    li.menu-item {

      a {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;

        display: block;
        margin-bottom: 3px;
        line-height: 50px;
        overflow: hidden;

        &:before {
          font-family: 'edm';
          font-size: 22px;
          line-height: 25px;
          display: block;
        }

        &[href *="facebook.com"]:before {
          content: "\e696";
        }

        &[href *="twitter.com"]:before {
          content: "\e695";
        }

        &[href *="instagram.com"]:before {
          content: "\e750";
        }

        &[href *="youtu.be"]:before,
        &[href *="youtube.com"]:before {
          content: "\e74d";
        }

        &[href *="google.com"]:before {
          content: "\e6c1";
        }

        &[href *="eventbrite.com"]:before {
          content: "\e6c2";
        }

      }

    }

  }
}


/* ==============
 HEADER BANNER
============== */

/** UME Specific Styles for Header */
@media all {
  .section-header-banner {
    padding: 0;
    border-top: 5px solid #7940dc;
    background-image: url('//media.umesouthpadre.com/media/2014/02/9f5f90596e6517b2698b4a56112f08de1.jpg');
    background-color: #13c8fc;
    background-repeat: no-repeat;
    background-position: center top;
    max-height: 405px;
    .module.element-event-logo {
      h1.logo-placeholder {
        margin: 0 0 20px 0;
        padding: 0;
        text-align: center;
        a {
          img{
            max-width: 100%;
          }
        }
      }
    }
    .module.element-video {
      margin: 0;
      margin-top: 20px;
      padding: 10px;
      background-color: rgba(4, 154, 224, 0.5);
      .cfct-mod-content {
        position: relative;
        padding-bottom: 39%;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    .module.element-sponsors {
      margin: 20px auto 10px auto;
      padding: 0;
      text-align: center;
      i.icon {
        color: #5a61a9;
        font-size: 30px;
        line-height: 50px;
        margin-left: 10px;
        vertical-align: middle;
        &.icon-disco-donnie-presents{
          font-size: 50px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .module.element-event-meta {
      margin: 0;
      padding: 0;
      p.event-date {
        padding: 0;
        font-family: 'Montserrat';
        color: #4d0dbc;
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        margin: 20px 0;
      }
      p.event-city {
        //font-family: "Myriad Pro";
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
      }
      address {
        background-color: rgba(4, 154, 224, 0.5);
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        display: block;
        margin-bottom: 30px;
      }
      p.buy-tickets {
        text-align: center;
        a {
          background-color: #ef0d95;
          border-width: 0;
          text-transform: uppercase;
          border-radius: 0px;
          padding: 20px 60px;
        }
      }
      p.ticket-information {
        //margin: 0 7% 30px 21%;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: white;
            text-decoration: none;
          }
          em{
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  .section-header-banner {
    max-height: none;
    background-image: none;
    .module.element-countdown{
      display: none !important;
    }
    .module.element-sponsors {
      i.icon {
        font-size: 15px;
        line-height: 25px;
        &.icon-disco-donnie-presents{
          font-size: 25px;
        }
      }
    }
  }
}
