
#wpstats {
  display: none;
}

#wpadminbar {
  position: absolute;
}

section.section {
  box-shadow: inset 0 0 1px rgba(23, 234, 19, 0.42);

  &:hover {
    box-shadow: inset 0 0 1px #17EA13;
  }

}

