# Standalone Site
#
# Examples:
# * http://capitaldealsonline.com/assets/scripts/admin-bar.js
# * http://capitaldealsonline.com/assets/styles/admin-bar.css
#
# @version 3.0.1
# @author potanin@UD

# Required at beginning
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
</IfModule>

# Mimes BEGIN
<IfModule mod_mime.c>
  AddEncoding gzip                                    svgz
  AddType audio/mp4                                   m4a f4a f4b
  AddType audio/ogg                                   oga ogg
  AddType application/javascript                      js
  AddType application/json                            json
  AddType video/mp4                                   mp4 m4v f4v f4p
  AddType video/ogg                                   ogv
  AddType video/webm                                  webm
  AddType video/x-flv                                 flv
  AddType application/font-woff                       woff
  AddType application/vnd.ms-fontobject               eot
  AddType application/x-font-ttf                      ttc ttf
  AddType font/opentype                               otf
  AddType application/octet-stream                    safariextz
  AddType application/x-chrome-extension              crx
  AddType application/x-opera-extension               oex
  AddType application/x-shockwave-flash               swf
  AddType application/x-web-app-manifest+json         webapp
  AddType application/x-xpinstall                     xpi
  AddType application/xml                             atom rdf rss xml
  AddType image/webp                                  webp
  AddType image/x-icon                                ico
  AddType text/cache-manifest                         appcache manifest
  AddType text/vtt                                    vtt
  AddType text/x-component                            htc
  AddType text/x-vcard                                vcf
</IfModule>
# Mimes END

# Format BEGIN
<IfModule mod_mime.c>
  AddCharset utf-8 .atom .css .js .json .rss .vtt .webapp .xml .html .htm
</IfModule>
# Format END

# Static and Media BEGIN
<IfModule mod_rewrite.c>

  # Rewrite assets or media when there is a subdomain
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(?:origin\.)?(public|assets|static|media)\.(.*)::/(?:assets/|media/|static/)?(.*)$
  RewriteCond %{DOCUMENT_ROOT}/storage/public/%2/%1/%3 -f
  RewriteRule ^.*$ /storage/public/%2/%1/%3 [L]

  # Experimenta.
  RewriteRule ^robots.txt$ /manage/admin-ajax.php?action=/robots.txt [QSA,L]

  # Rewrite any of our content URLs to media
  RewriteRule ^wp-content/uploads/(.*)$ /media/$1 [L]
  RewriteRule ^system/files/(.*)$ /media/$1 [L]
  RewriteRule ^system/media/(.*)$ /media/$1 [L]
  RewriteRule ^files/(.*)$ /media/$1 [L]
  RewriteRule ^uploads/(.*)$ /media/$1 [L]

  # Rewrite local when the domain name isn't involved
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(.*)::/(public|assets|static|media|cdn)/(.*)$
  RewriteCond %{DOCUMENT_ROOT}/storage/public/%1/%2/%3 -f
  RewriteRule ^.*$ /storage/public/%1/%2/%3 [L]

  # Look to rewrite for the root specifically to index.html if it exists
  RewriteCond %{DOCUMENT_ROOT}/storage/public/%{HTTP_HOST}/index\.html -f
  RewriteRule ^$ /storage/public/%{HTTP_HOST}/index.html [NC,QSA,L]

</IfModule>
# Static and Media END

# Public API BEGIN
<IfModule mod_rewrite.c>
  RewriteRule ^api/(.*).xml$    /manage/admin-ajax.php?action=/$1&format=xml    [QSA,L]
  RewriteRule ^api/(.*).json$   /manage/admin-ajax.php?action=/$1&format=json   [QSA,L]
  RewriteRule ^api/(.*)$        /manage/admin-ajax.php?action=/$1&format=json   [QSA,L]
</IfModule>
# Public API END

# Modules BEGIN
<IfModule mod_rewrite.c>
  RewriteRule ^vendor/automattic/wordpress/wp-content/plugins/(.*)$ modules/$1 [R=301,L]
  RewriteRule ^wp-content/plugins/(.*)$ modules/$1 [L]
  RewriteRule ^modules/(.*)$ modules/$1 [L]
</IfModule>
# Modules END

# Theme BEGIN
<IfModule mod_rewrite.c>
  RewriteRule ^wp-content/themes/(.*)$ themes/$1 [L]
</IfModule>
# Theme END

# Management BEGIN
<IfModule mod_rewrite.c>

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^vendor/automattic/wordpress/wp-admin/(.*)$ /manage/$1 [R=301,L]

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^vendor/automattic/wordpress/wp-(login|signup)\.php$ /manage/$1 [R=301,L]

  RewriteRule ^manage/(login|signup)(.*)$ /vendor/automattic/wordpress/wp-$1.php [E=SUBDOMAIN:rdr,L]

  # Must redirect to trailing slash for relative links to work
  RewriteRule ^manage$ manage/ [R=301,L]

  RewriteRule ^manage/?(.*)$ /vendor/automattic/wordpress/wp-admin/$1 [E=SUBDOMAIN:rdr,L]

  ## HACKISH ##
  RewriteRule ^wp-admin/?(.*)$ /manage/$1 [QSA,L] #
  #RewriteRule ^wp-admin/css/?(.*)$ /manage/css/$1 [QSA,L] #
  #RewriteRule ^wp-admin/images/?(.*)$ /manage/images/$1 [QSA,L] #
  #RewriteRule ^wp-admin/load-styles.php?(.*)$ /vendor/automattic/wordpress/wp-admin/load-styles.php$1 [QSA,L]
  #RewriteRule ^wp-admin/load-scripts.php?(.*)$ /vendor/automattic/wordpress/wp-admin/load-scripts.php$1 [QSA,L]
  RewriteRule ^vendor/automattic/wordpress/manage/?(.*)$ /manage/$1 [QSA,L] # Without this, Media Libary can't make admin-ajax requests...

</IfModule>
# Management END

# Assets BEGIN
<IfModule mod_rewrite.c>

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^wp-includes/js/(.*)$ /assets/scripts/$1 [R=301,L]

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^vendor/automattic/wordpress/wp-includes/js/(.*)$ /assets/scripts/$1 [R=301,L]

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^wp-includes/images/(.*)$ /assets/images/$1 [R=301,L]

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^wp-includes/css/(.*)$ /assets/styles/$1 [R=301,L]

  RewriteCond %{ENV:REDIRECT_SUBDOMAIN} =""
  RewriteRule ^vendor/automattic/wordpress/wp-includes/css/(.*)$ /assets/styles/$1 [R=301,L]

  RewriteRule ^assets/styles/(.*)$  /vendor/automattic/wordpress/wp-includes/css/$1 [E=SUBDOMAIN:rdr,L]
  RewriteRule ^assets/scripts/(.*)$ /vendor/automattic/wordpress/wp-includes/js/$1 [E=SUBDOMAIN:rdr,L]
  RewriteRule ^assets/images/(.*)$  /vendor/automattic/wordpress/wp-includes/images/$1 [E=SUBDOMAIN:rdr,L]

</IfModule>
# Assets END

# Security BEGIN
<FilesMatch "(^#.*#|\.(md|lock|yml|json|bak|config|dist|fla|inc|ini|log|psd|sh|sql|sw[op])|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>
# Security END

# BEGIN W3TC CDN
<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
# END W3TC CDN

# BEGIN RewriteEngine
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
</IfModule>
# END RewriteEngine

# BEGIN PHP-FPM
<IfModule mod_proxy_fcgi.c>
  <IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} ^.*\.php$
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/var/www/$1 [P,L]
  </IfModule>
</IfModule>
# END PHP-FPM

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>
# END WordPress
