################################################################################################
##
## Install direnv (https://github.com/zimbatm/direnv) to use this file.
##
################################################################################################
# export WP_ELASTIC_SECRET_KEY=jqnp-krmw-nmap-idpk:julw-urbp-vzst-jwwv
# export WP_ELASTIC_PUBLIC_KEY=jqnp-krmw-nmap-idpk-ooau-bkfm-bghf-jatg
# export WP_ELASTIC_SERVICE_INDEX=jqnp-krmw-nmap-idpk
# export WP_ELASTIC_SERVICE_URL=api.discodonniepresents-com.drop.ud-dev.com/documents/