################################################################################################
##
## Install direnv (https://github.com/zimbatm/direnv) to use this file.
##
################################################################################################

export WP_ENV=develop
export DB_NAME=edm_develop
export DB_USER=root
export DB_PASSWORD=root
export DB_HOST=rds.discodonniepresents.com
