vendor/libraries/automattic/wordpress/wp-settings.php
vendor/themes/flawless-hddp
/*.sql
/*.sql.tgz
application/.logs
.idea
w3tc-config
.environment
storage
storage/*
node_modules
cache
upgrade
uploads
error_log
local-debug.php
request_log.txt
.DS_Store
.svn
php_grep.php
migrate.log
debug.log
application/static/codex
application/static/etc/wp-config
vendor/libraries/composer/installed.json
vendor/libraries/composer/installers
/hook.php
