.git
/*.sql
/*.sql.tgz
.idea
w3tc-config
.environment
/storage
/node_modules
/cache
/upgrade
uploads
error_log
/local-debug.php
request_log.txt
.DS_Store
.svn
php_grep.php
migrate.log
debug.log
/application/static/codex
/application/static/etc/wp-config
/application/.logs
/vendor/libraries/composer/installed.json
/vendor/libraries/composer/installers
/vendor/themes/flawless-hddp
/hook.php
