/.htaccess
.idea
w3tc-config
debug.log
.environment
.dev
.ftpquota
cgi-bin
application/logs/*
application/static/codex/*
application/static/etc/wp-config/production
storage
storage/*
node_modules
cache
vendor
upgrade
uploads
advanced-cache.php
object-cache.php
sunrise.php
/wp-cli.yml
db.php
error_log
local-debug.php
request_log.txt
.DS_Store
