/**
 * Name: Real Estate - Red
 * Description: Layout designed for TandemProperties.com
 * Author: UsabilityDynamics.com
 * Version: 1.0
 * Tags: blark, maroon, gray
 * Description: Full layout.
 * Supports: custom-header, custom-background, header-logo, header-search, header-text, mobile-navbar, footer-copyright
 * Google Fonts: Oswald, Droid Serif, Droid Sans
 * TypeKit Fonts: proxima-nova, myriad-pro
 *
 */


/**
 *  CSS for Screen and Print
 *
 *  All static widths should be placed here.
 *
 */
@media screen, print {

  body {
    background: #f2f2f2 url(img/skin-red-realty/background_header_image.jpg) repeat-x top left;
  }

  .background_header_image {
    height: 400px;
  }

  .header .logo_area_wrapper {
    position: absolute;
    top: 35px;
    left: 10px;
    width: 230px;
  }

  .header .header_menu {
    position: absolute;
    right: 10px;
    top: 50px;
    width: auto;
  }

  .header .header_text {
    color: #656565;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    text-shadow: 1px 1px 1px #A9A9A9;
    top: 70px;
  }

  .header.container {
    height: 110px;
  }

  body, li, table, p {
    font: 400 15px/1.6 'myriad-pro', Verdana, Helvetica, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
  }

  div.content_wrapper {
    margin-bottom: 30px;
    min-height: 400px;
    position: relative;
  }

  .content_wrapper .c6-1234.cfct-block h2.cfct-mod-title,
  .content_wrapper .c6-3456.cfct-block h2.cfct-mod-title,
  .content_wrapper h1 {
    border-bottom: 1px dotted rgba(41, 41, 41, 0.14);
    line-height: 30px;
    margin-bottom: 15px;
    min-height: 30px;
    padding-bottom: 15px;
    font-size: 30px;
  }


  /*====[Bootstrap Corrections]=================================*/

  .thumbnail {
    background-color: white;
  }

  /*====[Blocks, Modules, Sidebars & General Spacing]================*/

  .row-fluid {
    overflow: hidden;
  }

  div[class*="span"].cfct-block {
    /* padding-bottom: 999999px; */
    /* margin-bottom: -999999px; */
  }
  
  .cfct-module.cfct-rich-text.going { background-image: url(img/skin-red-realty/going.png); }
  
  .cfct-module.cfct-rich-text.going2 { background-image: url(img/skin-red-realty/going2.png); }
  
  .cfct-module.cfct-rich-text.gone { background-image: url(img/skin-red-realty/gone.png); }
  
  .cfct-module.cfct-rich-text.going,
  .cfct-module.cfct-rich-text.going2,
  .cfct-module.cfct-rich-text.gone {
  	background-position: 20px 20px;
  	background-repeat: no-repeat;
  	background-size: auto 100%;
  }
  
  .cfct-module.cfct-rich-text.going div.cfct-mod-content,
  .cfct-module.cfct-rich-text.going2 div.cfct-mod-content,
  .cfct-module.cfct-rich-text.gone div.cfct-mod-content {
  	background-color: transparent;
  	max-width: 200px;
  	position: relative;
  	left: 95px;
  }
  
  .cfct-module.cfct-rich-text.going div.cfct-mod-content p,
  .cfct-module.cfct-rich-text.going2 div.cfct-mod-content p,
  .cfct-module.cfct-rich-text.gone div.cfct-mod-content p {
  	font-size: 14px;
  }
  
  .cfct-module.cfct-rich-text.going h1 { color: #468847; }
  
  .cfct-module.cfct-rich-text.going2 h1 { color: #f9a71c; }
  
  .cfct-module.cfct-rich-text.gone h1 { color: #D11C24; }
  
  .tabbed-module .cfct-mod-content.loop .post {
  	width: 45%;
  	float: left;
  	padding: 15px;
  }
  
  .tabbed-module .cfct-mod-content.loop .post h2.entry-title a {
  	font-family: Calibri;
  	font-weight: bold;
  	font-size: 18px;
  	line-height: 23px;
  }
  
  .tabbed-module .cfct-mod-content.loop .post h2.entry-title .entry-thumbnail a {
  	border: 5px solid white;
  	box-shadow: 0 0 5px gray;
  	-moz-box-shadow: 0 0 5px gray;
  	-webkit-box-shadow: 0 0 5px gray;
  }

  /* Target only top level modules */
  div.formatted-row.row-fluid.row-fluid > div[class*="span"] > .cfct-module,
  div.content_wrapper.row-fluid > div[class*="span"] > .cfct-module,
  .cfct-build > div.row-fluid > div[class*="span"] > .cfct-module {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .cfct-build > div.row-fluid > div[class*="span"] > .cfct-module.cfct-divider {
    background-color: transparent;
    border-color: transparent;
    padding-top: 0px;
  }

  .row-fluid > div[class*="span"].first > .cfct-module {
    margin-left: 10px;
  }

  .row-fluid > div[class*="span"].full-width > .cfct-module,
  .row-fluid > div[class*="span"].last > .cfct-module {
    margin-right: 20px;
  }

  body.no_wp_sidebar .row-c6-12-3456 .cfct-block.c6-12.first ,
  .sidebar-left {}

  body.no_wp_sidebar .row-c6-1234-56 .cfct-block.c6-56.last,
  .sidebar-right {}

  .sidebar-left .widget {
  	margin-right: 15px;
  }

  .sidebar-right .widget {
  	margin-left: 15px;
  }

  /*====[Tabbed Modules]=================================*/


  .cfct-build > div.row-fluid > div[class*="span"] > .cfct-module.tab-content  {
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-color: transparent;
  }


  .cfct-build > div.row-fluid > div[class*="span"] >  ul.cfct-module.nav-tabs {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div[class*="span"] > ul.cfct-module.nav-tabs > li.tab > a {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 3px #C4C4C4;
    color: #295f8c;
    left: -1px;
    margin-right: 10px;
    padding: 9px 15px;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
  }

  div[class*="span"] > ul.cfct-module.nav-tabs > li.tab.active > a {
    box-shadow: none;
    height: 31px;
    line-height: 27px;
    top: 1px;
    color: #D11C24;
  }

  div[class*="span"] > ul.cfct-module.nav-tabs > li.tab > a:focus {
    outline: none;
  }

  div[class*="span"] > .cfct-module.tab-content .tab-pane {
    overflow: hidden;
  }

  div[class*="span"] > .cfct-module.tab-content .tab-pane h2,
  div[class*="span"] > .cfct-module.tab-content .tab-pane h2 a {
    color: #d5241e;
  }

  /*====[Containers]=================================*/

  .container {
    max-width: 1090px;
    width: auto;
    clear: both;
  }

  .general_header_wrapper {

  }

  .status_container {
    margin-bottom: 10px;
  }

  body.carrington_layout .entry-title-wrapper,
  body.carrington_layout h1.entry-title {

  }


  /*====[Footer]=================================*/

  div.bottom {
    background: url("img/skin-red-realty/sprite.png") repeat scroll 0 -417px transparent;
    height: 10px;
  }

  div.footer {
    background-color: #E3E8E9;
    display: block;
    color: #74787e;
    padding: 10px 0 20px 0;
    min-height: 100px;
  }

  div.footer .flawless_footer_copyright {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  div.menu-footer-container ul li.top_level_item > a {
    color: #2E8FAA;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
  }

  div.menu-footer-container ul li.top_level_item > a:hover {
    text-decoration: underline;
  }

  div.footer .flawless_module.menu-footer-container {
    width: 300px;
    float: left;
  }

  div.footer .flawless_module.flawless_footer_copyright {
    color: #323232;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }

  div.bottom-of-page-container  ul.sub-menu {
    display: none;
  }

  div.bottom-of-page-container  ul li.top_level_item {
    font-weight: bold;
  }

  /*====[Content]==============================*/

  .entry-content  > div,
  .entry-content  iframe {
    max-width: 100%;
  }

  .flawless_widget {
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 5px;
  }

  .flawless_widget .widgettitle,
  .flawless_widget .widgettitle a {
    border-bottom: 1px solid #D6D6D6;
    color: #D11C24;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: -5px;
    padding-bottom: 7px;
    text-transform: uppercase;
  }

  .flawless_widget  input.search_input_field {
    border: 1px solid rgba(149, 149, 149, 0.84);
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    width: 230px;
  }

  p strong {
    font-weight:bold;
  }

  blockquote {
  	border-left: 4px solid #0f8dcf;
  }

  .main.cfct-block blockquote,
  .main.cfct-block blockquote p {
    font-size: 17px;
    line-height: 25px;
    font-style: italic;
    color: #828282;
  }

  .main.cfct-block .cfct-mod-image {
    padding: 10px;
    background: #fff;
    box-shadow:0px 0px 3px #333333
  }

  .main.cfct-block .cfct-module .widget_nav_menu  ul li {
    text-indent: 0;
  }

  .sidebar .cfct-module ul li {
    line-height: 24px;
  }

  /*====[Header Elements]==============================*/

   ul.flawless_header_dropdown_links {
    position: absolute;
    top: 0;
    right: 0;
  }

  .flawless_header_expandable_sections {
    margin: 0;
  }

  .flawless_header_expandable_sections .header_dropdown_div {
    position: absolute;
    left: -10000px;
    overflow:hidden;
    margin-bottom: 0px;
  }

  .flawless_header_expandable_sections .header_dropdown_div .widgettitle {
    display:none;
  }


  /*====[Header Navigation]====================================*/

  .header-nav.flawless-menu {
    text-align: right;
  }

  .header-nav.flawless-menu > li {
    display: inline-block;
    text-align: left;
  }

  .header-nav.flawless-menu > li > a {
    border-radius: 5px 5px 5px 5px;
    color: #2F3030;
    font-family: 'proxima-nova',Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header-nav.flawless-menu > li.current-menu-item > a {
    background-image: url(img/skin-red-realty/sprite.png);
    background-position: 0 0px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #333333;
    border-top: 1px solid #fa5531;
    border-right: 1px solid #b03d23;
    border-bottom: 1px solid #b03d23;
    border-left: 1px solid #fa5531;
  }

  .header-nav.flawless-menu li.top_level_item .menu_item_description {
    display: none;
  }

  ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu,
  .header-nav.flawless-menu li.menu-item ul.sub-menu {
    display: none;
  }

  ul.flawless-menu.header-sub-menu li.menu-item:hover ul.sub-menu, .header-nav.flawless-menu li.menu-item:hover ul.sub-menu {
    display: block; /* Show sub-menus on hover */
  }

  ul.flawless-menu.header-sub-menu {
  	width: 100%;
  	background-color: #1b8aca;
  	list-style: none;
    border-bottom: 2px solid #006BA0;
  }

  ul.flawless-menu.header-sub-menu li.menu-item {
  	float: left;
  	margin: 0;
  	text-transform: uppercase;
    padding: 10px;
    position: relative;
  }

  ul.flawless-menu.header-sub-menu li.menu-item:hover {
  	background-color: #006BA0;
  }

  ul.flawless-menu.header-sub-menu li.menu-item a {
  	color: #fff;
  	font-weight: bold;
  	font-size: 15px;
  }

  ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu,
  .header-nav.flawless-menu li.menu-item ul.sub-menu {
    clear: both;
    position: absolute;
    width: auto;
    z-index: 999;
  }

  .header-nav.flawless-menu li.menu-item ul.sub-menu {
    background-color: white;
    border: 1px solid #656565;
    border-radius: 3px;
    box-shadow: 0 5px 6px rgba(34, 34, 34, 0.39);
    margin: 26px 15px;
    padding: 0px;
    top: 0;
  }

  .header-nav.flawless-menu li.menu-item ul.sub-menu li {
    padding: 5px 10px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 13px;
  }

  .header-nav.flawless-menu li.menu-item ul.sub-menu > li:hover {
    background-color: #ededed;
  }

  .header-nav.flawless-menu li.menu-item ul.sub-menu > li:last-child {
    border-bottom: none;
  }

  ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu {
    background-color: #006BA0;
    top: 100%;
    left: 0px;
    padding: 5px 0;
  }

  ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu li {
    margin: 0px;
    padding: 5px;
  }

   ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu li a {
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
  }

  ul.flawless-menu.header-sub-menu li.menu-item ul.sub-menu li:hover {
    border-left: 4px solid #2DBBE9;
    margin-left: 5px;
  }

  .menu-bottom-navigation-container {
      text-align: left;
  }

 .menu-bottom-navigation-container .flawless-menu {
      list-style: none;
  }

 .menu-bottom-navigation-container .flawless-menu > li.menu-item {
    float: left;
    width: 20%;
  }

 .menu-bottom-navigation-container .flawless-menu > li.top_level_item > a {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
    text-transform: uppercase;
  }

 .menu-bottom-navigation-container .flawless-menu .sub_menu_level_item > a {
    font-size: 0.8em;
    font-weight: bold;
 }

 .menu-bottom-navigation-container .flawless-menu .menu_item_description {
    display: inline;
    font-size: 0.7em;
  }

  .flawless_header_expandable_sections {
    background-color: #EBEBEB;
  }

  .dropdown_header_login {
    padding: 10px 0;
    margin: 0;
  }

  .navbar-fixed-top .flawless_navbar_form {
    margin:  5px 0 0 0;
  }

  .navbar-fixed-top .flawless_navbar_form .btn {
    margin:  0;
  }

  .dropdown_header_login .flawless_navbar_form {
    padding: 0;
    margin: 0;
    float: right;
  }

  .navbar-fixed-top .flawless_navbar_form input.user_login,
  .navbar-fixed-top .flawless_navbar_form input.user_password {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #111111;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 4px 9px;
    border-radius: 5px;
    margin-bottom: 0;
  }

  .dropdown_header_login .flawless_login_form input.user_login {
    width: 18em;
  }

  .dropdown_header_login .flawless_login_form input.user_password {
    width: 12em;
  }

  /* Position the AJAX response below the Navbar */
  .navbar-fixed-top li.navbar_reset_password_form ,
  .navbar-fixed-top li.navbar_login_form {
    display: block;
    float: none;
  }

  /* Position the AJAX Response container to float slightly below the Navbar */
  .navbar-fixed-top .navbar_reset_password_form .flawless_ajax_response,
  .navbar-fixed-top .navbar_login_form .flawless_ajax_response {
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px 15px;
    position: absolute;
    top: 45px;
    left: 5px;
  }

  .navbar-fixed-top .navbar_reset_password_form .flawless_ajax_response {
    width: 320px;
  }

  .navbar-fixed-top .navbar_login_form .flawless_ajax_response {
    width: 350px;
  }

  .navbar-fixed-top a.forget_password_link {
    display: none;
  }

  .navbar-fixed-top .flawless_ajax_response .progress {
    margin-bottom: 7px;
    margin-top: 10px;
  }

  .navbar-fixed-top .navbar_login_form .flawless_ajax_response a.forget_password_link {
    color: #FFFFFF;
    display: block;
    text-decoration: underline;
  }

  ul.flawless_dropdown_elements {
    list-style: none;
  }

  ul.flawless-menu,
  ul.flawless-menu li.menu-item {
    margin:0 auto;
    padding:0;
  }

  .flawless-menu .divider {
    display: none;
  }

  .option_tab {
    background-image: none;
    padding-left: 10px;
  }

  .dropdown_tab_login a {
    background: none repeat scroll 0 0 transparent;
  }

  .header_menu {
    overflow: visible;
  }

  .header_submenu {
    margin-bottom: 10px;
  }

  .header_submenu  > ul > li > ul.sub-menu {
    display: none;
  }

  /*====[Sidebars]==================================*/

  .sidebar .widget_twitter .entry-content {
    font-weight:lighter;
    line-height:1.4em;
  }

  .sidebar .widget_twitter .entry-content a {
    color:#B16736;
  }

  .sidebar .widget_twitter .twitter-avatar {
    float:left;
    margin:5px;
  }

  .sidebar .widget_twitter .time-meta a,
  .sidebar .widget_twitter .time-meta,.sidebar .widget_twitter .from-meta {
    color:#B8B8B8;
  }

  /*====[Lists]=====================================*/

  /* List handling for within content / rich text area - this needs to be studied seriously, overwrites a ton of stuff */
  .entry-content > ul,
  .cfct-html > ul,
  .cfct-rich-text > ul {
    margin: 0 0 18px 25px;
    list-style: disc outside none;
  }

  .entry-content > ol,
  .cfct-html > ol,
  .cfct-rich-text > ol {
    margin: 0 0 18px 25px;
  }

  /* Modules/Widgets - List inner elements */
  .cfct-mod-content > ul > li > ul,
  .cfct-mod-content > ol > li > ol,
  .textwidget > ul > li > ul,
  .textwidget > ol > li > ol {
    margin-left: 10px;
  }


  /*====[Item-Body]=====================================*/

  .item-body,
  .item-header {
    background-color: #FFF;
    padding: 15px;
  }

  .item-header {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .item-body {
    border: 1px solid #DDDDDD;
    border-radius: 0 5px 5px 5px;
    min-height: 10em;
  }

  .item-body .primary-item {
    border-bottom: 1px solid #DADADA;
    margin: -15px -20px 15px -15px;
    padding: 15px;
  }

  .item-body .primary-item form {
    margin-bottom: 0;
  }

  .item-header .item-header-avatar {
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
  }

  .item-header .item-header-avatar img.avatar {
    display: block;
  }

  .item-header .header-title {
    margin-bottom: 0;
  }

  .item-header .header-title a {
    color: #333333;
  }

  .item-header .user-nicename {
    display: block;
    margin-bottom: 15px;
  }

  .item-header .header-note {
    color: #999999;
  }

  .item-header .item-meta {
    padding-left: 15px;
    width: 200px;
  }

  .item-header span.group_type,
  .item-header span.activity {
    color: #999999;
    background: transparent;
    padding: 0;
    font-weight: normal;
  }


  /*====[Loop Styles]=====================================*/

  div.post-listing h2.entry-title {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
  }

  div.post-listing h2.entry-title a {
    color: #333333;
    font-size: 25px;
  }

  div.post-listing .entry-thumbnail {
    float: left;
    margin-right: 10px;
    display: block;
  }

  div.post-listing .cfct-module-loop .entry-thumbnail {
    padding: 10px;
    position: relative;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop {
	  border-width: 6px 1px 1px 1px;
	  border-color: #D11C24 lightGrey lightGrey lightGrey;
	  border-style: solid;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop .cfct-module {
	  border-bottom: 1px solid #D11C24;
	  margin-bottom: 15px;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop * {
		overflow: visible;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop .has-img {
  	padding-bottom: 15px;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop .has-img img {
	  border: 7px solid white;
	  box-shadow: 0px 0px 7px black;
	  -moz-box-shadow: 0px 0px 7px black;
	  -webkit-box-shadow: 0px 0px 7px black;
  }
  
  .grid .row-fluid > div[class*="span"] > .cfct-module.cfct-module-loop .entry-content p {
		font-size: 17px;
  }
  


  /*====[WP-Invoice]==================================*/

  form.wpi_checkout li.section_title, div.wpi_checkout_payment_box li.section_title {
    font-size: 18px;
    font-weight: bold;
    color: #068BCD;
  }

  div.wpi_checkout_payment_box li label.control-label {
    text-align: right;
  }

  form.wpi_checkout .total_price {
    top: 0;
  }


  /*====[WP-Property]==================================*/

  .wpp_feature_list {
    margin: 0;
    width: auto;
    float: none;
  }

  .wpp_agent_info_list dd, .wpp_agent_info_list dt {
    display: inline-block;
  }

  li.wpp_google_maps_attribute_row:nth-child(odd) {
    background-color: whiteSmoke;
  }

  .wpp_search_properties_widget .wpp_search_group_title, .wpp_agent_stats_display_name p {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .galleria-container {
    background-color: #006BA0;
  }

  .wpp_pdf_link.btn, ul.wpp_widget_attribute_list p.more a.btn {
    float: right;
  }

  .property_widget_block .title {
    font-weight: bold;
  }

  .property_widget_block .more {
    float: right;
  }

  /* Search shortcode */
  .entry-content div.wpp_shortcode_search > form {
    background-color: #FAFAFA;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .wpp_search_attribute_type_checkbox > div.wpp_search_attribute_wrap,
  .wpp_search_attribute_type_checkbox > label.wpp_search_label {
    display: inline;
    float: none;
    margin: 0;
  }

  .wpp_search_attribute_type_checkbox > label.wpp_search_label .wpp_search_post_label_colon {
    display: none;
  }

  .wpp_search_attribute_type_checkbox > div.wpp_search_attribute_wrap > input.wpp_checkbox {
    margin: 0 inherit 0 inherit;
  }

  .wpp_search_attribute_type_checkbox > label.wpp_search_label {
    position: relative;
    top: -7px;
    left: 5px;
  }

  li.wpp_search_form_element {
    overflow: hidden;
  }

  .wpp_search_form_element.submit {
    border-top: 1px solid #E1E1E1;
    padding-top: 10px;
    margin-top: 10px;
  }

  .wpp_search_form_element.submit,
  .wpp_search_form_element.wpp_search_attribute_type_checkbox.single_checkbox {
    padding-left: 35%;
    overflow: visible;
  }

  li.seach_attribute_property_type > .wpp_search_label,
  li.wpp_search_attribute_type_date_picker > .wpp_search_label,
  li.wpp_search_attribute_type_input  > .wpp_search_label,
  li.wpp_search_attribute_type_range_dropdown  > .wpp_search_label,
  li.wpp_search_attribute_type_dropdown > .wpp_search_label {
    float: left;
    width: 35%;
  }

  li.seach_attribute_property_type > .wpp_search_attribute_wrap,
  li.wpp_search_attribute_type_date_picker  > .wpp_search_attribute_wrap,
  li.wpp_search_attribute_type_input  > .wpp_search_attribute_wrap,
  li.wpp_search_attribute_type_range_dropdown  > .wpp_search_attribute_wrap,
  li.wpp_search_attribute_type_dropdown > .wpp_search_attribute_wrap {
    max-width: 50%;
  }

  .wpp_search_attribute_wrap > input[type=text],
  li.seach_attribute_property_type > .wpp_search_attribute_wrap > select,
  li.wpp_search_attribute_type_dropdown > .wpp_search_attribute_wrap > select {
    width: auto;
    max-width: 100%;
  }

  .wpp_search_label_second_level {
    font-size: 15px;
  }

  .nivo-controlNav a {
    border: 1px solid #0F1010;
    background-color: #0F1010;
    color: white;
  }

  .nivo-controlNav a.active {
    border: 1px solid #1B8ACA;
    background-color: #1B8ACA;
  }

  .wpp_pagination_slider_wrapper .wpp_pagination_button {
    background-color: #08c;
    color: white;
  }

  .wpp_galleria_wrapper {
    max-width: 100%;
    overflow: hidden;
  }

 .wpp_row_view div.property_div {
    display: block;
    margin: 1%;
    padding: 1.5%;
    width: 95%;
    background-color: #FFFFFF;
    border: 1px solid rgba(174, 174, 174, 0.51);
    box-shadow: 0 0 3px rgba(116, 116, 116, 0.30);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  .wpp_row_view div.property_div:nth-child(2n+1) {
    clear:left;
  }

  .wpp_row_view ul.wpp_overview_data .property_title, .supermap_list_title {
    font-size: 15px;
    line-height: 1.3em;
  }

  .wpp_row_view .property_title a, .supermap_list_title {
    color: #08c;
    text-transform: uppercase;
    font-weight: bold;
  }

  .supermap_list_view_property {
    margin-top: 10px;
  }

  .wpp_row_view ul.wpp_overview_data li {
    margin-bottom: 0px;
    line-height: 1.9em;
    font-size: 14px;
    color: #555555;
    background-position: top left !important;
  }

  .wpp_row_view ul.wpp_overview_data li.property_phone_number, .wpp_row_view ul.wpp_overview_data li.property_price {
    font-weight: bold;
  }

  .wpp_row_view ul.wpp_overview_data .property_address a:hover {
    color: #005580;
    text-decoration: none;
  }

  .all-properties {
    overflow: hidden;
  }

  .wpp_overview_left_column, .wpp_overview_right_column {
    display: block;
    float: left;
    vertical-align: top;
  }

  .wpp_overview_left_column {
    max-width: 50%;
    float: left;
    display: inline-block;
  }

  .wpp_overview_right_column {
    max-width: 50%;
    display: inline-block;
    float: left;
  }

  .wpp_overview_left_column .property_image a img {
    max-width: 100%;
  }

  .wpp_pagination_slider_status, .wpp_sorter_options label {
    color: #555555;
    font-size: 15px;
    width: 100%;
  }

  .wpp_property_results,
  .wpp_current_page_count,
  .wpp_total_page_count {
    color:#1b8aca;
    font-weight: bold;
  }

  .wpp_sortable_link:hover {
    cursor: pointer;
  }

  .slider_page_info .val {
    text-indent: -9999px;
  }

  .wpp_pagination_slider_wrapper .wpp_pagination_slider.ui-slider {
    margin-left: 110px;
    margin-right: 110px;
  }

  .wpp_pagination_back.wpp_pagination_button, .wpp_pagination_forward.wpp_pagination_button {
    display: block;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    width: 94px;
  }

  .wpp_pagination_back.wpp_pagination_button {
    float: left;
  }

  .wpp_pagination_forward.wpp_pagination_button {
    float: right;
  }

  .wpp_row_view ul.wpp_overview_data .property_price {
    color: #008aff;
    background: url('img/wpp/wpp-saletag.png') no-repeat left;
    text-indent: 25px;
  }

  .wpp_row_view ul.wpp_overview_data .property_address {
    background: url('img/wpp/wpp-geotag.png') no-repeat left;
    text-indent: 25px;
  }

  .wpp_row_view ul.wpp_overview_data .property_phone_number {
    background: url('img/wpp/wpp-phone.png') no-repeat left;
    text-indent: 25px;
  }

  .wpp_row_view ul.wpp_overview_data .property_address a {
    font-style: italic;
    color: #555555;
  }

  /* map related */

  .wpp_google_maps_attribute_row_property_title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .wpp_google_maps_right_col {
    padding-left: 15px;
  }

  .wpp_google_maps_attribute_row .attribute {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 25%;
    max-width: 60%;
    font-size: 14px;
  }

  .wpp_google_maps_attribute_row {
    line-height: 20px;
  }


  /*====[Carousel & Hero ]==================================*/

  .cfct-build > div.row-fluid > div[class*="span"] > .cfct-module.cfct-module-hero,
  .cfct-build > div.row-fluid > div[class*="span"] > .cfct-module.cfct-module-carousel {
    position: relative;
    padding: 0;
    border: 8px solid #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 7px rgba(45, 45, 45, 0.7);
  }

  .cfct-module-hero .cfct-module-hero-wrap,
  .cfct-module-carousel .car-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 2.5%;
    left: 1%;
    padding: 1% 2%;
    position: absolute;
    width: 94%;
    z-index: 10;
    border-radius: 10px;
  }

  .cfct-module-hero .cfct-module-hero-wrap {
    left: 5%;
  }

  .cfct-module-carousel .car-overlay {
    height: auto;
  }

  .cfct-module-hero .cfct-module-hero-wrap h2.cfct-mod-title,
  .cfct-module-carousel .car-overlay h2.car-title,
  .cfct-module-carousel .car-overlay h2.car-title > a {
    color: #fa4835;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
  }

  .cfct-module-carousel .car-description {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    
  }

  .cfct-module-carousel .car-description .imr-learn-more {}

  .cfct-module-carousel .carousel-control {
    top: 45%;
    z-index: 11;
    cursor: pointer;
  }

  /*====[Uncategorized]==================================*/

  body.archive .category_description {
    clear: both;
    overflow: hidden;
  }

  body.archive .category_description > img.attachment-thumbnail {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .single_post {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }

  /* Wrapper individual widget areas within widget area sections, should be mostly transparent */
  .single-widget-area {
    margin: 0;
    padding: 0;
  }

  .single_post .post-content {
    margin-bottom: 10px;
  }

  .poster-meta {
    float: right;
    width: 300px;
    margin-bottom: 10px;
  }

  .poster-meta img.avatar {
    float: left;
    margin-right: 10px;
  }

  .poster-meta span.time_since,
  .poster-meta a.poster_name {
    display: block;
  }

  .poster-meta span.time_since {
    font-size: 0.8em;
  }

  /* When a Navbar is added, we add header padding */
  body.have-navbar {
    padding-top: 40px;
  }

  .column-block > .post_listing_inner {
    margin-left: 0;
    margin-right: 0;
  }

  .cfct-pullquote {
    padding-left: 0;
  }

  body.carrington_layout .flawless-smooth-box {
    background-image: -moz-linear-gradient(center bottom , rgba(248, 248, 248, 0.27) 39%, rgba(255, 255, 255, 0.29) 70%);
    border: 4px solid rgba(187, 187, 187, 0.15);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 5px;
    padding: 15px;
  }

  body.carrington_layout .flawless-smooth-box .callout-text-content {
    font: 15px/23px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  }

  /* Emulate TB Pills */
  .item-list-tabs .nav-pills > li > a,
  .item-list-tabs .nav-pills > li > span {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
  }

  .item-list-tabs .nav-pills > li.current > a {
    background-color: #0088CC;
    color: #FFFFFF;
  }

  .pagination a {
    border-color: transparent;
  }


  hr.cfct-div-solid {
    border-bottom: 0 none;
    border-color: #BEBEBE #BEBEBE -moz-use-text-color;
    margin: 0;
  }

  p.center_align {
    text-align: center;
  }

  div.breadcrumbs {
    margin-bottom: 0.5em;
  }

  .breadcrumbs a {
  	color: #808080;
  	font-weight: 300;
  }

  .breadcrumbs a:hover {
  	color:#0088cc;
  }

  .breadcrumbs span.current {
  	font-weight: bold;
  	color: #555;
  }

  .breadcrumbs span.divider {
  	color: #555;
  }

  .container.primary_notice_container .alert {
    margin-top: 15px;
  }

  /* Single Item in Post Listing */
  .post-listing .hentry {
    overflow: hidden;
    margin-left: 0; /* To unset .column-module left margin */
  }

  .post-listing .hentry .post_listing_inner {
    overflow: hidden;
    margin-bottom: 10px;
  }

  .business_card p {
    margin-bottom: 2px;
  }

  .business_card .social_icons {
    margin-top: 10px;
  }

  .business_card .social_icons a {
    margin-right: 5px;
  }

  .entry-meta {
    list-style-type: none;
    margin-bottom: 15px;
  }

  div.breadcrumbs {
    margin-bottom: 15px;
  }

  .gallery-item {
    display: block;
    float: left;
    padding-right: 15px;
  }

  .features_list h2,
  .wpp_stats_group {
    font-weight: normal;
    color: #595959;
    clear: both;
    display: block;
    font-size: 1.4em;
  }

  .widget_rss  ul li a.rsswidget {
    font-size: 1.2em;
  }

  .widget_rss .rssSummary {
    margin-top: 5px;
  }

  ul.linenums,
  ol.linenums {
    margin-left: 3em;
    list-style-type:decimal;
  }

  .linenums li {
    margin-bottom: 0;
  }

}



/**
 *  CSS for Screen Only
 *
 *  All static widths should be placed here.
 *
 */
@media screen {

  /* Masonry: single item wrapper */
  .listing-masonry.item-list,
  .listing-masonry .post-listing {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 100%;
    width: 100%;
  }

  /* Masonry: single item */
  .listing-masonry .column-block {
    width: 49%;
  }

  /* Masonry: Inner content of single item */
  .listing-masonry .column-module {
    margin: 0 15px 10px 0px;
  }

  .wpp_google_maps_right_col ul.infobox_child_property_list {float: right;}

  div.content_tabs.tab-content {
    background-color: #FFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .tabbed_columns {
    margin-bottom: 10px;
  }

  textarea {
    max-width: 100%;
    width: 98%;
  }


}



/**
 *  Very Small Screens (iPhone 3)
 *
 */
@media ( max-width: 480px ) {

  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }

  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .input-prepend input[class*="span"], .input-append input[class*="span"] {
    width: auto;
  }

  input[type="checkbox"], input[type="radio"] {
    border: 1px solid #ccc;
  }

  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }

  .form-horizontal .controls {
    margin-left: 0;
  }

  .form-horizontal .control-list {
    padding-top: 0;
  }

  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }


}



/**
 * {description missing}
 *
 */
@media ( max-width: 767px ) {

	.wpp_row_view div.property_div {
	  min-width: 90%;
	  margin: 2.5%;
	  padding: 2.5%;
	}

}


/**
 * iPads, mid-size Tablets and iPhone 4, but not iPhone 3
 *
 */
@media ( min-width: 768px ) and ( max-width: 979px ) {

  div.content_wrapper {
    box-shadow: none;
  }

  body .container {
    max-width: 99%;
  }

}


/**
 * iPads and mid-size Tablets and Phones
 *
 * Screens below this size have a collapsed Navbar.
 *
 */
@media ( max-width: 979px ) {

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  div.super_wrapper,
  body {
    background: transparent;
  }

  body.have-navbar {
    padding-top: 0px;
  }

  div.content_wrapper {
    margin: 0 auto;
  }

  div.cfct-module-carousel .car-content,
  div.cfct-module-carousel .car-overlay {
    clear: both;
    margin: 0;
  }

  div.content_container {
    padding: 0;
  }

  .row-fluid > div.first[class*="span"] > .cfct-module {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
  }

  div.header {
    display: none;
  }

  .general_header_wrapper {
    display: none;
  }

  /* Hide header completely on large screens when Mobile Navbar is enabled */
  body.have-navbar .header_submenu ,
  body.have-mobile-navbar .header_submenu {
    display: none;
  }

  body .content_wrapper {
    background: transparent;
  }

  div.footer .flawless_module.menu-footer-container {
    display: none;
  }

  div.footer .flawless_module.flawless_footer_copyright {
    padding: 1em;
    width: auto;
  }

}


/**
 * All Non-Mobile Devices
 *
 */
@media ( min-width: 980px ) {

}


/**
 * Medium Sized Screens
 *
 */
@media ( min-width: 979px ) and ( max-width: 1199px ) {

  body .container {
    max-width: 980px;
  }
  
  .cfct-module.cfct-rich-text.going div.cfct-mod-content,
  .cfct-module.cfct-rich-text.going2 div.cfct-mod-content,
  .cfct-module.cfct-rich-text.gone div.cfct-mod-content {
  	
  	max-width: 165px;
  }
  
  div[class*="span"] > ul.cfct-module.nav-tabs > li.tab > a {
  	font-size: 14px;
  }
 
}


/**
 * All Small to Medium Devices
 *
 */
@media ( max-width: 1199px ) {



}


/**
 * The biggins
 *
 */
@media ( min-width: 1200px ) {

  body .container {
    max-width: 1050px;
  }

  .flawless_widget  input.search_input_field {
    width: 280px;
  }

}


/**
 *  CSS for print Only
 *
 *  All static widths should be placed here.
 *
 */
@media print {
  .wpp_attachment_attribute_link {
    display: none;
  }
}
