.mixin-performance-tweak() {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* Pop Effect */

.mixin-hover-pop() {
	50%{
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes hover-pop{
	.mixin-hover-pop();
}
@keyframes hover-pop{
	.mixin-hover-pop();
}

.hover-pop{

	// Performance and rendering tweaks
	.mixin-performance-tweak();

	// Effect
	&:hover, &:focus, &:active{
		-webkit-animation-name: hover-pop;
		animation-name: hover-pop;

		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;

		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;

		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
	}
}