########################################################################
##
## http://site.com/                           -> http://www.site.com/
##
## http://www.site.com/                       -> http://www.site.com/
## http://assets.site.com/                    -> http://assets.site.com/
## http://media.site.com/                     -> c.storage.googleapis.com
##
## ## API Endpoints
## https://api.site.com/debug/env
##
## @version 0.6.8
## @author potanin@UD
##
########################################################################

#DirectoryIndex index.php
#Options -Indexes

# BEGIN Rewrite Engine
<IfModule mod_rewrite.c>
  RewriteEngine On
</IfModule>
# END Rewrite Engine

# BEGIN Veneer Security
<FilesMatch "node_modules|error_log|debug.log|Dockerfile|makefile|.dockerignore|.environment|.gitignore|.gitmodules|.envrc|changes.md|readme.md">
  Order allow,deny
  Deny from all
</FilesMatch>
<FilesMatch "(^#.*#|\.(md|lock|yml|bak|config|dist|fla|inc|ini|log|psd|sh|sql|sw[op])|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>
# END Veneer Security

# BEGIN Veneer Assets
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteRule ^assets/styles/(.*)$  /wp-includes/css/$1 [QSA,L]
 RewriteRule ^assets/scripts/(.*)$ /wp-includes/js/$1 [QSA,L]
 RewriteRule ^assets/images/(.*)$  /wp-includes/images/$1 [QSA,L]
</IfModule>
# END Veneer Assets

# BEGIN Veneer Management Access
<IfModule mod_rewrite.c>
 # RewriteEngine On
 # RewriteBase /
 # RewriteRule ^manage$                         /manage/ [R=301,L]
 # RewriteRule ^manage/(login|signup)/?(.*)$    /wp-$1.php [QSA,L]
 # RewriteRule ^manage/?(.*)$                   /wp-admin/$1 [QSA,L]
</IfModule>
# END Veneer Management Access

# BEGIN Veneer Public API
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteCond %{HTTP_HOST}          ^api\..*$
 RewriteRule ^documents/v1/(.*)$   http://api.veneer.io/documents/$1 [P,L]
 RewriteCond %{HTTP_HOST}          ^api\..*$
 RewriteRule ^search/v1/(.*)$      http://api.veneer.io/search/$1 [P,L]
 RewriteCond %{HTTP_HOST}          ^api\..*$
 RewriteRule ^documents/(.*)$      http://api.veneer.io/documents/$1 [P,L]
 RewriteCond %{HTTP_HOST}          ^api\..*$
 RewriteRule ^search/(.*)$         http://api.veneer.io/search/$1 [P,L]
</IfModule>
# END Veneer Public API

# BEGIN Veneer WordPress API
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_URI} !^.*admin-ajax\.php.*$
 RewriteRule ^xmlrpc.php$    /xmlrpc.php [QSA,L]
 RewriteRule ^api/rpc.xml$   /xmlrpc.php [QSA,L]
 RewriteRule ^api/rpc.json$  /wp-admin/admin-ajax.php?action=/api/json-rpc [QSA,L]
 RewriteRule ^api/(.*).xml$  /wp-admin/admin-ajax.php?action=/$1&format=xml [QSA,L]
 RewriteRule ^api/(.*).json$ /wp-admin/admin-ajax.php?action=/$1&format=json [QSA,L]
</IfModule>
# END Veneer WordPress API

# BEGIN Veneer Static Media
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteRule ^wp-content/uploads/(.*)$ /media/$1 [L]
 RewriteRule ^files/(.*)$ /media/$1 [L]
 RewriteRule ^uploads/(.*)$ /media/$1 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(.*)::/(.*)$
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%1/static/%2 -f
 RewriteRule ^(.*) /wp-content/storage/%1/static/%2 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(.*)::/(.*)$
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%1/%2 -f
 RewriteRule ^.*$ /wp-content/storage/%1/%2 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(assets|media|cache|static)\.(.*)::/(?:assets|media|cache|static)?/?(.*)$
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%2/%1/%3 -f
 RewriteRule ^.*$ /wp-content/storage/%2/%1/%3 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(.*)::/(.*)$
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%1/static/%2index.html -f
 RewriteRule ^.*$ /wp-content/storage/%1/static/%2index.html [NC,QSA,L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{HTTP_HOST}::%{REQUEST_URI} ^(.*)::/(.*)$
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%1/static/%2.html -f
 RewriteRule ^.*$ /wp-content/storage/%1/static/%2.html [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{DOCUMENT_ROOT}/wp-content/storage/%{HTTP_HOST}/static/index\.html -f
 RewriteCond %{QUERY_STRING} ^$
 RewriteRule ^$ /wp-content/storage/%{HTTP_HOST}/static/index.html [L]
</IfModule>
# END Veneer Static Media

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteRule ^wp-admin$ wp-admin/ [R=301,L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
  RewriteRule ^(.*\.php)$ $1 [L]
  RewriteRule . index.php [L]
</IfModule>
# END WordPress

