[Unit]
Description=www.discodonniepresents.com
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=docker pull discodonniepresents/www.discodonniepresents.com
Environment=STORAGE_PATH=/var/storage
Restart=always

ExecStart=docker run -tiP --privileged  \
  --name=www.discodonniepresents.com \
  --hostname=www.discodonniepresents.com.internal \
  -v /storage/storage.discodonniepresents.com:/var/storage \
  -v /root/.ssh:/root/.ssh \
  -p 49100:22 \
  -p 49101:80 \
  -p 49102:443 \
  -p 49104:8080 \
  -p 49105:3306 \
  -e DOCKER_HOST=tcp://%H:16523 \
  -e DB_PREFIX=edm_ \
  -e DB_NAME=edm_cluster \
  -e DB_USER=edm_cluster \
  -e DB_PASSWORD=Gbq@anViLNsa \
  -e DB_HOST=shaniqua.rds.uds.io \
  discodonniepresents/www.discodonniepresents.com:latest \
  /bin/bash /usr/bin/startServices

ExecStop=docker kill www.discodonniepresents.com:latest
