<toolbar params="title: _ddp._( 'Event Details' ), showClose: false, menuLink: '#worldwide/menu'" />

<section class="archive-list container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="item">
        <img class="bg-image" data-bind="attr: { src: imageUrl( photo() ), alt: _ddp._( 'Hero Image' ) }">
        <span class="bg-image-effects"></span>

        <div class="content content-center-align clearfix">
          <h3 class="title" data-bind="text: summary()"></h3>

          <time class="date">
            <span class="ic-date"></span>
            <!--ko text: moment( start_date(), 'ddd, MMM D, YYYY' )--><!--/ko-->
          </time>

          <address class="location">
            <span class="ic-location"></span>
            <!--ko text: venue().address.city + ", " + stateAbbreviation( venue().address.state )--><!--/ko-->
          </address>
        </div>

        <!--<a href="#" class="ic-previous"></a>
        <a href="#" class="ic-next"></a>-->
      </div>
    </div>
  </div>
</section>

<section class="global-tabs">
  <a href="#" data-tab-target="info" class="tab" data-bind="text: _ddp._( 'Info' ), click: changeTab, css: { 'selected-tab': activeTab() == 'info' }"></a>
  <a href="#" data-tab-target="discover" class="tab" data-bind="text: _ddp._( 'Discover' ), click: changeTab, css: { 'selected-tab': activeTab() == 'discover' }"></a>
  <!-- <a href="#" data-tab-target="comments" class="tab" data-bind="click: changeTab, css: { 'selected-tab': activeTab() == 'comments' }">Comments</a> -->
</section>

<section data-tab-id="info" class="global-content tab-content-info clearfix" data-bind="visible: activeTab() == 'info'">
  <p data-bind="text: description"></p>

  <section class="info-list clearfix">
    <a href="#" class="item clearfix" onclick="return false;">
      <div class="content">
        <h4 class="highlighted" data-bind="text: moment( start_date(), 'dddd, MMMM D, YYYY' )"></h4>
        <time data-bind="text: moment( start_date(), 'h:mm A' )"></time>
      </div>

      <!-- <span class="ic-next"></span> -->
      <span class="icon">
        <span class="ic-date-outline"></span>
      </span>
    </a>

    <a href="#" class="item clearfix" onclick="return false;">
      <div class="content">
        <h4 class="highlighted" data-bind="text: venue().name"></h4>
        <address data-bind="text: venue().address.full"></address>
      </div>

      <!-- <span class="ic-next"></span> -->
      <span class="icon">
        <span class="ic-location-outline"></span>
      </span>
    </a>
  </section>

  <div class="container-fluid">
    <div class="row buttons-panel">
      <div class="col-xs-6">
        <a class="button button-primary" data-bind="text: _ddp._( 'Buy Tickets' ), attr: { href: tickets }" target="_blank"></a>
      </div>
      <div class="col-xs-6" data-bind="if: has( 'rsvp' )">
        <a class="button button-primary" data-bind="text: _ddp._( 'RSVP Now' ), attr: { href: rsvp }" target="_blank"></a>
      </div>
    </div>
  </div>
</section>

<!-- <section data-tab-id="comments" class="global-content tab-content-info clearfix" data-bind="visible: activeTab() == 'comments'">

  <div class="container-fluid">
    <div class="row buttons-panel">
      <div class="col-xs-12">
        <a href="#" class="button button-primary button-facebook">Connect to Facebook</a>
      </div>
    </div>
  </div>

  <section class="comments-list clearfix container-fluid">
    <div class="row">
      <div class="col-xs-12 item clearfix">
        <div class="wrapper">
          <div class="comment">
            <h4 class="name">Eric Sopp</h4>
            <time class="time">
              <span class="ic-clock"></span>
              1 hr ago
            </time>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deserunt</p>
          </div>
        </div>

        <div class="avatar">
          <div class="avatar-crop">
            <img src="/images/placeholders/comment-avatar.jpg" alt="Avatar">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 item clearfix">
        <div class="wrapper">
          <div class="comment">
            <h4 class="name">Eric Sopp</h4>
            <time class="time">
              <span class="ic-clock"></span>
              1 hr ago
            </time>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deserunt</p>
          </div>
        </div>

        <div class="avatar">
          <div class="avatar-crop">
            <img src="/images/placeholders/comment-avatar.jpg" alt="Avatar">
          </div>
        </div>
      </div>
    </div>
  </section>

  <form action="#" class="comment-form container-fluid clearfix">

    <div class="row">
      <div class="col-xs-12">
        <label for="comment">Add Comments</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <textarea name="comment" id="comment"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="buttons-panel">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="button button-primary button-disabled">Cancel</a>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="button button-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section> -->

<section data-tab-id="discover" class="global-content tab-content-info clearfix" data-bind="visible: activeTab() == 'discover'">

  <section class="discover-list">

    <section class="category" data-bind="if: artists().length > 0">
      <h3 class="category-title" data-bind="text: _ddp._( 'Artists' )"></h3>

      <div data-bind="foreach: artists()">
        <a data-bind="attr: { href: '#worldwide/artist/' + _id }" class="item clearfix" onclick="return false;">
          <div class="wrapper">
            <div class="content">
              <h2 class="item-title" data-bind="text: name"></h2>
              <time class="time">&nbsp;</time>
              <!-- <time class="time">
                <span class="ic-date"></span>
                Sun, 27 July

                &nbsp;&nbsp;&nbsp;
                <span class="ic-clock"></span>
                ??2:00 PM
              </time> -->
            </div>
          </div>

          <div class="avatar">
            <div class="avatar-crop">
              <img data-bind="attr: { src: $parent.imageUrl( photo, 50 ), alt: _ddp._( 'Artist Avatar Image' ) }" />
            </div>
          </div>
        </a>
      </div>
    </section>

    <section class="category" data-bind="if: has( 'venue' )">
      <h3 class="category-title" data-bind="text: _ddp._( 'Location' )"></h3>

      <a data-bind="attr: { href: '#worldwide/venue/' + venue()._id }" class="item clearfix" onclick="return false;">
        <div class="wrapper">
          <div class="content">
            <h2 class="item-title" data-bind="text: venue().name"></h2>

            <address class="location clearfix">
              <div class="location-wrapper">
                <div class="location-content" data-bind="text: venue().address.full"></div>
              </div>

              <span class="ic-location-outline"></span>
            </address>
          </div>
        </div>

        <div class="avatar">
          <div class="avatar-crop">
            <img data-bind="attr: { src: imageUrl( venue().photo, 50, 25 ), alt: _ddp._( 'Venue Avatar Image' ) }" />
          </div>
        </div>
      </a>
    </section>

  </section>

</section>