 /*
  * CSS Shared between Front and Back end
  *
  */

#wpadminbar .flawless_toolbar_status span,
#wp-admin-bar .flawless_toolbar_status span {
  text-shadow: none;
}

#wpadminbar .flawless_toolbar_status[type="error"] span,
#wp-admin-bar .flawless_toolbar_status[type="error"] span {
  background: #B00000;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 1px 5px;
}

#wpadminbar .flawless_toolbar_status[type="default"] span,
#wp-admin-bar .flawless_toolbar_status[type="default"] span {
  color: #FFE97D
}

#wpadminbar .flawless_toolbar_status[type="success"] span,
#wp-admin-bar .flawless_toolbar_status[type="success"] span {
  background: none repeat scroll 0 0 #347135;
  border-radius: 3px 3px 3px 3px;
  color: #E8FFED;
  padding: 1px 5px;    
}
