.accommodations{
  background: #c0183f;
  position: relative;
  padding-left: 0;
  padding-right: 0;

  h2{
    text-align: center;
    margin: 25px 0 15px 0;
  }

  p{
    text-align: center;
    color: #ffffff;
  }

  .lead-in{
    margin: 0 10px 50px 10px;
  }

  .accommodations-slider-container{
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;

    .accommodations-slider{
      position: absolute;
      z-index: 1;

      .card{
        .mixin-shadow(0, 0, 4px, 0, #999999);

        display: block;
        position: relative;

        float: left;

        width: 300px;
        height: 360px;

        padding: 0;
        margin: 0 13px 40px 13px;

        background: #ffffff;

        img{
          display: block;
          margin: 0 0 32px 0;
          width: 100%;
          height: auto;
        }

        .price{
          font-family: "Dosis", sans-serif;
          font-size: 20px;
          text-transform: uppercase;

          background: #feed02;
          color: #090533;
          border-radius: 3px;

          display: block;
          float: left;
          padding: 3px 10px;
          margin: 0 0 20px 20px;

          position: absolute;
          top: 10px;
          right: 10px;
        }

        .rating{

          text-align: center;
          margin: 0 0 20px 0;

          .icon-star{
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: #d1d3d4;
          }

          .star-full{
            color: #c0183f;
          }
        }

        h3{
          text-align: center;
          display: block;
          clear: both;
          margin: 0 20px 10px 20px;
          font-weight: 400;
        }

        address{
          font-style: normal;
          display: block;
          font-size: 14px;
          color: #808285;
          margin: 0px 20px 20px 20px;
          text-align: center;
        }

        .button-mini{
          .mixin-transition(background);

          &:hover{
            background: #feed02;
          }
        }

        &:first-child{
          margin-left: 10px;
        }

        &:last-child{
          margin-right: 10px;
        }
      }
    }
  }

  .indicator-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 9999;
    background: #b31338;

    .indicator-parent{
      height: 60px;
      margin: 0 10px;

      .indicator{
        background: #c24260;
        display: block;
        position: absolute;
        height: 15px;
        top: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 100%;

        cursor: pointer; // Fallback
        cursor: hand; // Fallback
        cursor: -webkit-grab;
        cursor: -moz-grab;

        span{
          font-size: 5px;
          color: #d47b90;
        }
      }
    }
  }

  // 768px <-> 992px
  @media @tablet {
    h2{
      margin: 75px 0 25px 0;
    }

    .lead-in{
      margin: 0 50px 50px 50px;
    }

    .accommodations-slider-container{
      .accommodations-slider{
        .card{

          &:first-child{
            margin-left: 60px;
          }

          &:last-child{
            margin-right: 60px;
          }
        }
      }
    }

    .indicator-container{
      .indicator-parent{
        margin: 0 60px;
      }
    }
  }
}