/** Image Light Box */

#imagelightbox{
  cursor: pointer;
  position: fixed;
  z-index: 100102;

  -ms-touch-action: none;
  touch-action: none;

  -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, .75); /* 50 */
  box-shadow: 0 0 3.125em rgba(0, 0, 0, .75); /* 50 */
}

/** Activity Indicator */

#imagelightbox-loading,
#imagelightbox-loading div{
  border-radius: 50%;
  z-index: 100101;
}

#imagelightbox-loading{
  display: none;
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.625em; /* 10 */
  margin: -1.25em 0 0 -1.25em; /* 20 */

  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, .75); /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, .75); /* 40 */
}

#imagelightbox-loading div{
  width: 1.25em; /* 20 */
  height: 1.25em; /* 20 */
  background-color: #fff;

  -webkit-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading{
  from{
    opacity: .5;
    -webkit-transform: scale(.75);
  }
  50%{
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to{
    opacity: .5;
    -webkit-transform: scale(.75);
  }
}

@keyframes imagelightbox-loading{
  from{
    opacity: .5;
    transform: scale(.75);
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: .5;
    transform: scale(.75);
  }
}

/** Overlay */

.imagelightbox-overlay{
  display: none;
  overflow: auto;
  background-color: #c0183f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=95);
  -moz-opacity: .95;
  -khtml-opacity: .95;
  opacity: .95;
  
  & > *{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}