.article-content {
  .module-container {
    background: white;

    .no-padding {
      .cfct-mod-content {
        padding: 0px;
      }
    }

    .cfct-mod-content {
      padding: 40px;
    }
  }
}

/* These styles happen for protected pages only */
#main{
  .post-password-required{
    form{
      p{
        color: white;
        text-align: center;
        margin: 0 auto;
        label{
          display: block;
          text-indent: -99999px;
          font-size: 20px;
          line-height: 20px;
          input[type=password]{
            display: block;
            text-indent: 0px;
            padding: 25px 20px;
            height: auto;
            font-size: 14px;
            line-height: 14px;
            width: 100%;
            color: black;
          }
        }
        input[type=submit]{
          margin-top: 20px;
          display: block;
          background: none;
          background-color: transparent;
          border: 1px solid #fff200;
          color: #fff200;
          width: 100%;
          padding: 10px 20px;
          transition: all .2s ease;
          &:hover{
            color: #c0183f;
            background-color: #fff200;
          }
        }
      }
    }
  }
}

@media @tablet{
  #main{
    .post-password-required{
      form{
        p{
          width: 50%;
        }
      }
    }
  }
}