<p>
  <label for="{{date_id}}">Date</label>
  <br><br>
  <input class="datepicker widefat" type="text" name="{{date_name}}" id="{{date_id}}" value="{{date}}" placeholder="YYYY-MM-DD" />
</p>

<p>
  <label for="{{location_id}}">Location</label>
  <br><br>
  <input class="widefat" type="text" name="{{location_name}}" id="{{location_id}}" value="{{location}}" />
</p>

<p>
  <input type="checkbox" name="{{output_name}}" id="{{output_id}}" value="html" {{# output}} checked="checked" {{/ output}} />
  <label for="{{output_id}}">HTML</label>
  <br>
  <em>Generate HTML widget output</em>
</p>

{{# error}}
There are no images in the media library. You need to upload an image first.
{{/error}}

{{^ error}}

{{# images.meta.sel_image}}
<p>
  <img id="artist-lineup-widget-selected-image" src="{{images.meta.sel_image}}" alt="Selected Image">
</p>
{{/images.meta.sel_image}}

<p>
  <label for="{{image_id}}"><strong>Select an image</strong></label>
  <br><br>

  <select class="widefat artist-lineup-widget-image" name="{{image_name}}" id="{{image_id}}">
    {{# images.data}}
    <option value="{{src}}"
    {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
    {{/images.data}}
  </select>
</p>

<input type="hidden" value="{{images.meta.sel_image_id}}" name="{{image_image_name}}" id="{{image_image_id}}">
{{/error}}