.blog-posts {
  .card {
    .spectacle-category {
      background: #58595b;
    }

    .title {
      font-family: "Playfair Display", serif;
      text-transform: none;
      color: #090533;
    }
  }
}