.single-post-header {
  .gradient-fade {
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0) 70%, rgba(0,0,0, 0.6) 80%, rgba(0,0,0, 1) 90% );
  }

  .logo-mini {
    margin-left: -72px;
  }

  .prev-next {
 //   background: rgba(0,0,0,0.8);
  }
}

.single-post {

  .title {
    color: #ff0279;
  }

  .single-post-content {
    color: #f6e7dc;
  }
}