// 0px <-> 480px
#blog-loop{
  max-width: 100%;
  overflow: hidden;
  background-color: #c0183f;

  .mobile-nav{
    display: block;

    text-align: center;

    a{
      display: none;
      font-size: 24px;
      color: #cd4665;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      margin-top: 20px;

      &.selected-category{
        color: white;
        display: block;
      }

      .icon-triangle-down{
        margin-left: 15px;
        font-size: 8px;
        vertical-align: 60%;
      }
    }
  }

  nav{

    display: none;

    &.category{
      text-align: center;
      padding-top: 65px;

      a{
        font-size: 24px;
        color: #cd4665;
        font-family: "Dosis", sans-serif;
        text-transform: uppercase;
        margin: 0 24px;

        &.selected{
          color: white;
          border-bottom: 1px solid white;
        }

        &:hover{
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }
  }

  ul.nav{

    margin: 0;
    padding-top: 65px;
    text-align: center;

    li{
      display: inline;

      a{
        font-size: 24px;
        color: #cd4665;
        font-family: "Dosis", sans-serif;
        text-transform: uppercase;
        margin: 0 24px;

        &:hover{
          color: white;
          border-bottom: 1px solid white;
        }
      }

      &.current-menu-item{
        a{
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }
  }

  // 768px <-> 992px
  @media @tablet {

    .mobile-nav{
      display: none;
    }
    nav{

      display: block;

      &.category{
        text-align: center;
        padding-top: 65px;

        a{
          font-size: 24px;
          color: #cd4665;
          font-family: "Dosis", sans-serif;
          text-transform: uppercase;
          margin: 0 24px;

          &.selected{
            color: white;
            border-bottom: 1px solid white;
          }

          &:hover{
            color: white;
            border-bottom: 1px solid white;
          }
        }
      }
    }
    .posts-list-container{
      .post{
        .content{
          height: 500px;
        }

        .flipper{
          height: 500px;
        }
      }
      margin-bottom: 50px;
      padding-top: 65px;
    }

  }

  // 992px <-> 1200px
  @media @desktop {
    .posts-list-container{
      .post{
        .content{
          height: 500px;
        }

        .flipper{
          height: 500px;
        }
      }
      margin-bottom: 100px;
    }
  }

  // 1200px+
  @media @large-desktop {
    .posts-list-container{
      .post{
        .content{
          height: 500px;
        }

        .flipper{
          height: 500px;
        }

      }
      margin-bottom: 100px;
    }
  }
}
.posts-list-container{
  padding-top: 45px;

  &.posts-list-container-widget{
    padding-right: 0;
    .post{
      margin: 0 15px 15px 0;
      padding: 0;
    }
  }

  .post{
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px;

    .content{
      background: white;

      .img-wrap{
        background-position: top center;
        background-size: cover;
        height: 200px;
        display: block;

        a{
          display: block;
          height: 100%;
          width: 100%;
        }
        img{
          max-width: 100%;
        }
      }

      .description{
        padding: 60px 40px 30px;
        position: relative;
        display: block;
      }

      .post_title{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 25px;
        height: 110px;

        a{
          color: black;

          &:hover{
            color: #c0183f;
          }
        }
      }

      .excerpt{

        display: block;

        p{
          font-size: 14px;
          color: #808285;
          line-height: 20px;
          text-align: center;
        }
      }
    }

    .meta{
      margin: 0;
      > span{
        text-align: center;
        line-height: 24px;
        color: #808285;
        padding: 0;
        font-size: 12px;
        font-family: "Droid Sans", serif;
        text-transform: uppercase;
      }
      .comments{
        a{
          color: #808285;
        }
      }
    }

    .share{
   //   background-image: url("@{coreImagesUrl}/share-bg.png");
      height: 40px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;
      border-radius: 3px;
      background-color: rgba(0,0,0, 0.9);

      .icon-share{
        font-size: 17px;
        display: block;
        height: 19px;
        margin: 12px auto;
        width: 16px;
      }

      &:hover{
         background-color:rgba(0,0,0, 0.6);
      }
    }

    .category-icon{
      display: none; // @todo undo later
      background: none repeat scroll 0 0 #feed02;
      border-radius: 50%;
      height: 80px;
      left: calc(~"50% - 40px");
      position: absolute;
      top: -45px;
      width: 80px;

      img{
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
      }

      &.category-artist{
        background: url("@{coreImagesUrl}/category-artist.png") no-repeat scroll 50% 50% #feed02;
      }
      &.category-music{
        background: url("@{coreImagesUrl}/category-music.png") no-repeat scroll 50% 50% #feed02;
      }
      &.category-community{
        background: url("@{coreImagesUrl}/category-community.png") no-repeat scroll 50% 50% #feed02;
      }
    }
  }
}
p.latest-blog-posts,
h2.latest-blog-posts{
  background-color: #c0183f;
  color: white;
  text-align: center;
}
h2.latest-blog-posts{
  padding: 75px 15px 25px 15px;
}
p.latest-blog-posts{
  padding: 0 15px 20px 15px;
}
#latest-blog-posts{
  max-width: 100%;
  overflow: hidden;
  background-color: #c0183f;

  .posts-list-container{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .post{
    width: 330px;
    float: left;

    &:first-child{
      margin-left: 10px;
    }

    &:last-child{
      margin-right: 10px;
    }

    @media @tablet {
      &:first-child{
        margin-left: 50px;
      }
      &:last-child{
        margin-right: 50px;
      }
    }

    @media @desktop {
      &:first-child{
        margin-left: 100px;
      }
      &:last-child{
        margin-right: 100px;
      }
    }

    @media @large-desktop {
      &:first-child{
        margin-left: 200px;
      }
      &:last-child{
        margin-right: 200px;
      }
    }

    .content{
      display: block;
      height: 500px;
    }

    .flipper{
      height: 500px;
  /*    display: block;*/
    }
  }
  .indicator-container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 9999;
    background: #b31338;

    .indicator-parent{
      height: 60px;
      margin: 0 10px;

      @media @tablet {
        margin: 0 50px;
      }

      @media @desktop {
        margin: 0 100px;
      }

      @media @large-desktop {
        margin: 0 200px;
      }

      .indicator{
        background: #c24260;
        display: block;
        position: absolute;
        height: 15px;
        top: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 100%;

        cursor: pointer; // Fallback
        cursor: hand; // Fallback
        cursor: -webkit-grab;
        cursor: -moz-grab;

        span{
          font-size: 5px;
          color: #d47b90;
        }
      }
    }
  }
}
.latest-blog-posts-no-padding{
  #latest-blog-posts{
    .post{
      &:first-child{
        margin-left: 15px;
      }

      &:last-child{
        margin-right: 15px;
      }

      @media @tablet {
        &:first-child{
          margin-left: 15px;
        }
        &:last-child{
          margin-right: 15px;
        }
      }

      @media @desktop {
        &:first-child{
          margin-left: 15px;
        }
        &:last-child{
          margin-right: 15px;
        }
      }

      @media @large-desktop {
        &:first-child{
          margin-left: 15px;
        }
        &:last-child{
          margin-right: 15px;
        }
      }
    }
    .indicator-container{
      .indicator-parent{
        margin: 0 15px;

        @media @tablet {
          margin: 0 15px;
        }

        @media @desktop {
          margin: 0 15px;
        }

        @media @large-desktop {
          margin: 0 15px;
        }
      }
    }
  }
}
.blog-pagination{
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  background: #090533;
  padding: 45px 0;
  text-transform: uppercase;
  color: white;

  .current{
    text-decoration: underline;
  }
}
.posts-list-container{
   .post{
     .content{
       display: block;

       .description{
         background: #ffffff;
       }
     }

     .flip-container{
       perspective: 1000;

       -webkit-perspective: 1000;
       -moz-perspective: 1000;
       -o-perspective: 1000;

       .hover{
         .flipper{
           transform: rotateY(180deg);

           -webkit-transform: rotateY(180deg);
           -moz-transform: rotateY(180deg);
           -o-transform: rotateY(180deg);
         }
       }
     }

     .flipper.flipped{
       transform: rotateY(180deg);

       -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
     }

     /* flip speed goes here */
     .flipper{
       height: 500px;
       transition: 0.6s;
       transform-style: preserve-3d;
       position: relative;
     }

     /* hide back of pane during swap */
     .front, .back{
       backface-visibility: hidden;
       position: absolute;
       top: 0;
       left: 0;
       right:0;
     }

     /* front pane, placed above back */
     .front{
       z-index: 2;
       /* for firefox 31 */
       transform: rotateY(0deg);
     }

     /* back, initially hidden pane */
     .back{
       transform: rotateY(180deg);

       -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
     }

     .social-share-overlay{
       z-index: 1000;
       display: block;
       position: absolute;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       background: rgba(9, 5, 51, 0.95);
       text-align: center;

       .share-close{
         height: 40px;
         position: absolute;
         right: 10px;
         top: 10px;
         width: 40px;
         border-radius: 3px;

         .icon-close{
           font-size: 17px;
           display: block;
           height: 19px;
           margin: 12px auto;
           width: 16px;
         }
       }

       .social-share-overlay-content{

         position: relative;
         height: 100%;
         /* top: 20%;
          left:20%;*/

         .share-wrapper{

           display: block;

           width: 200px;
           height: 200px;
           position: absolute;
           margin: auto;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;


           a{
             height: 100px;
             width: 100px;
             float: left;
             margin: 0;

             &.twitter{
               background: #00aaf3;

               &:hover{
                 background-color: #20caff;
               }

               .icon-twitter{
                 right: 3px;
               }
             }

             &.facebook{
               background: #39579a;

               &:hover{
                 background-color: #5775b8;
               }
             }

             &.google-plus{
               background: #e04a32;

               &:hover{
                 background-color: #fb654d;
               }
             }

             &.pinterest{
               background: #d9332b;

               &:hover{
                 background-color: #f8524a;
               }
             }

             [class^="icon-"]{
               font-size: 20px;
               font-weight: normal;
               display:inline-block;
               margin-top: 35px;
             }

             em{
               clear: both;
               display: block;
               font-family: "Droid Sans",sans-serif;
               font-style: normal;
               font-weight: 100;
               margin: 5px 0 0;
             }

           }
         }
       }
     }
   }
 }
