.spectacle-hotel-card-container {
  width: 100%;
  padding: 0 15px;
}

.spectacle-hotel-card {

  position: relative;
  display: block;
  background: #FFF;

  margin: 0 auto 20px auto;

  max-width: 470px;
  height: 920px;
  text-decoration: none;

  text-align: left;
  font-size: 14px;

  .mixin-shadow(0, 0, 4px, 0, #999999);

  @media @phone-landscape {
    height: 850px;
  }

  @media @tablet {
    height: 710px;
    margin: 0 auto 40px auto;
  }

  .photo {
    background-position: top center;
    background-size: cover;
    height: 200px;
    display: block;

    margin: 0 0 35px 0;
  }

  .content-inner {
    margin: 0 35px;

    .title {
      display: block;
      margin: 0 0 10px 0;
      font-family: "audimat-regular", sans-serif;
      font-size: 32px;
      line-height: 44px;
      color: #000;
      text-transform: uppercase;
    }

    address {
      font-family: "Droid Sans", sans-serif;
      font-style: normal;
      color: #808285;

      display: block;

      margin: 0 0 20px 0;

      span {
        float: left;
        margin: 0 20px 0 0;
        font-size: 16px;
      }
    }

    .phone, .distance {
      float: left;
      margin: 0 35px 32px 0;

      font-family: "audimat-regular", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: #000;

      span {
        font-size: 22px;
        float: left;
        margin: 0 10px 0 0;
      }
    }

    .distance {
      margin-right: 0;
    }

    hr {
      display: block;
      clear: both;
      width: 100%;
      height: 1px;
      border: 0;
      background: #dcddde;
      margin: 0 0 32px 0;
    }

    .services{

      margin: 0 0 35px 0;

      li{
        font-family: "Droid Sans", sans-serif;
        list-style: none;
        margin: 0 0 10px 0;
        padding: 0;
        background: none;
        color: #000;

        @media @tablet {
         float: left;
         width: 50%;
          white-space: nowrap;
          overflow: hidden;
        }


        span {
          margin: 0 10px 0 0;
          font-size: 18px;
          vertical-align: middle;
        }

        .icon-spectacle-checked {
          color: #4a5674;
        }

        .icon-spectacle-unchecked {
          color: #d1d3d4;
        }
      }
    }

    .button {
      display: block;
      width: 100%;
      background: #4a5674;
      text-align: center;
      font-family: "audimat-regular", sans-serif;
      text-transform: uppercase;
      color: #fff;
      font-size: 24px;
      font-weight: normal;
      text-decoration: none;
      padding: 12px 0;
      margin: 0 0 22px 0
    }

    .discount {
      font-style: normal;
      font-size: 16px;
      color: #f38019;
      display: block;
      text-align: center;
    }
  }
}