/**
 * Listing Overview - "All Properties" page
 *
 *
 */


div.wp_wpp_overview_wrapper a.wpp_listing_thumbnail {
  background-color: #F4F4F4;
  border: 3px solid #E6E6E6;
  display: table;
  float: left;
  margin-right: 10px;
}

div.wp_wpp_overview_wrapper a.wpp_listing_thumbnail > img {
  display: block
}

div.wp_wpp_overview_wrapper div.wpp_listing_primary {
  display: table-cell
}

div.wp_wpp_overview_wrapper div.wpp_listing_primary .row-actions {
  clear: none
}

div.wp_wpp_overview_wrapper .wp-list-table .check-column {
  width: 26px
}

div.wp_wpp_overview_wrapper .wp-list-table .column-overview {
  width: 175px
}

div.wp_wpp_overview_wrapper .wp-list-table .column-wpp-feps-form_id {
  width: 75px
}

div.wp_wpp_overview_wrapper .wp-list-table .column-features {
  width: 250px
}

div.wp_wpp_overview_wrapper a.row-title {
  display: block;
  margin-bottom: 3px;
}

div.wp_wpp_overview_wrapper span.wpp_property_type {
  color: #4F4F4F;
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
}

.wpp_overview .tablenav select[name=m] {
  display: none
}

.wpp_overview .tablenav #post-query-submit {
  display: none
}
