<div class="spectacle-hotel-card-container clearfix">

  <div class="spectacle-hotel-card clearfix">
    <span class="photo" style="background-image:url('{{image_source}}');"></span>

    <div class="content-inner">

      <h4 class="title">{{name}}</h4>

      <address>
        <span class="icon-spectacle-location"></span>
        {{location}}
      </address>

      <div class="phone">
        <span class="icon-spectacle-phone"></span>
        {{phone}}
      </div>

      <div class="distance">
        <span class="icon-spectacle-distance"></span>
        {{distance}}
      </div>

      <hr>

      <ul class="services clearfix">
        <li>
          {{# services_internet_wifi}}
            <span class="icon-spectacle-checked"></span>
          {{/services_internet_wifi}}
          {{^ services_internet_wifi}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_internet_wifi}}

          Internet/Wi-Fi
        </li>

        <li>
          {{# services_transfers}}
            <span class="icon-spectacle-checked"></span>
          {{/services_transfers}}
          {{^ services_transfers}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_transfers}}

          Travel &amp; Transfers
        </li>

        <li>
          {{# services_swimming_pool}}
            <span class="icon-spectacle-checked"></span>
          {{/services_swimming_pool}}
          {{^ services_swimming_pool}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_swimming_pool}}

          Swimming Pool
        </li>

        <li>
          {{# services_gym}}
            <span class="icon-spectacle-checked"></span>
          {{/services_gym}}
          {{^ services_gym}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_gym}}

          Gym
        </li>

        <li>
          {{# services_wellness}}
            <span class="icon-spectacle-checked"></span>
          {{/services_wellness}}
          {{^ services_wellness}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_wellness}}

          Spa/Massage/Wellness
        </li>

        <li>
          {{# services_parking}}
            <span class="icon-spectacle-checked"></span>
          {{/services_parking}}
          {{^ services_parking}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_parking}}

          Parking
        </li>

        <li>
          {{# services_restaurant_bar}}
            <span class="icon-spectacle-checked"></span>
          {{/services_restaurant_bar}}
          {{^ services_restaurant_bar}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_restaurant_bar}}

          Restaurant/Bar
        </li>

        <li>
          {{# services_business_facilities}}
            <span class="icon-spectacle-checked"></span>
          {{/services_business_facilities}}
          {{^ services_business_facilities}}
            <span class="icon-spectacle-unchecked"></span>
          {{/services_business_facilities}}

          Business/Facilities
        </li>
      </ul>

      <a class="button" href="{{book_now_link}}">{{price}} &mdash; Book Now</a>

      {{# discount}}
        <em class="discount">{{discount}}</em>
      {{/discount}}

    </div>
  </div>
</div>