.theiaPostSlider_nav {
  position: relative;
  margin: 16px 0; }
  .theiaPostSlider_nav > * {
    vertical-align: middle; }
  .theiaPostSlider_nav ._title {
    font-weight: bold; }
    .theiaPostSlider_nav ._title * {
      display: inline;
      margin: 0;
      padding: 0; }
    .theiaPostSlider_nav ._title ._helper {
      color: #888; }
  .theiaPostSlider_nav ._buttons {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    .theiaPostSlider_nav ._buttons > * {
      display: inline-block;
      vertical-align: middle; }
    .theiaPostSlider_nav ._buttons ._text {
      margin: 0 10px; }
  .theiaPostSlider_nav ._prev,
  .theiaPostSlider_nav ._next {
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    text-indent: -9999px;
    font-size: 0;
    transition: none !important; }
  .theiaPostSlider_nav ._disabled {
    cursor: default; }
  .theiaPostSlider_nav._left ._buttons, .theiaPostSlider_nav._right ._buttons {
    display: inline-block; }
  .theiaPostSlider_nav._left {
    text-align: left; }
    .theiaPostSlider_nav._left ._title {
      float: right; }
  .theiaPostSlider_nav._center {
    text-align: center; }
  .theiaPostSlider_nav._right {
    text-align: right; }
    .theiaPostSlider_nav._right ._title {
      float: left; }
  .theiaPostSlider_nav ._loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/ajax-loader.gif) center center no-repeat; }

.theiaPostSlider_slides {
  position: relative;
  clear: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }
  .theiaPostSlider_slides > div {
    overflow: hidden; }

.theiaPostSlider_nav ._title {
  height: 32px;
  line-height: 32px; }
.theiaPostSlider_nav ._prev {
  height: 32px;
  width: 31px;
  background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 -32px; }
  .theiaPostSlider_nav ._prev:hover {
    background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 -160px; }
  .theiaPostSlider_nav ._prev._disabled {
    background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 -96px; }
.theiaPostSlider_nav ._next {
  height: 32px;
  width: 31px;
  background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 0; }
  .theiaPostSlider_nav ._next:hover {
    background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 -128px; }
  .theiaPostSlider_nav ._next._disabled {
    background: url('../images/super-mono-reflection--red-32-sc24988667e.png') 0 -64px; }
