// Application Color Styles
//
// @version 0.1.0
// @author Usability Dynamics

@import "../variables.less";

// Color Specific variables must be set here

@default-color: #7940dc;

@default-color-active: darken( @default-color, 6.5% );
@default-color-dark: darken( @default-color, 25% );

@countdown_n: #ef0d95;
@countdown_l: #858184;

@carousel-indicator-active-bg: @default-color;
@carousel-indicator-bg: #d7e5eb;

@footer-color: #595758;
@footer-background: @header-bg-color;
@footer-social-button: #2f2c2e;

@the-artist-color: #4b4e4f;
@artist-preview-caption: #fff;
@artist-preview-caption-bg: @the-artist-color;

@category-link: #e746a7;
@dark-blue: #39579a;

@artist-alpha-heading: #fff;

@import "../color.less";