<toolbar params="title: title()" />

<div class="menu-page content container-fluid">

  <!-- <section class="global-search">
    <div class="row">
      <form action="#" class="col-xs-12">
        <button type="submit" class="ic-search" name="submit"></button>
        <input type="text" name="q" placeholder="Search Everything">
      </form>
    </div>
  </section> -->

  <section class="menu-list">
    <div class="row">

      <div class="col-xs-6">
        <a class="news-social left" data-bind="attr: { href: '#festival/' + _id() + '/news' }">
          <span class="icon-multicolor ic-news-social-a"></span>
          <!--ko text: _ddp._( 'Featured News' )--><!--/ko-->
        </a>
      </div>
      <div class="col-xs-6">
        <a class="news-social right" data-bind="attr: { href: '#festival/' + _id() + '/news/all' }">
          <span class="icon-multicolor ic-news-social-a"></span>
          <!-- Should be: "News and Social" -->
          <!--ko text: _ddp._( 'All Blogs' )--><!--/ko-->
        </a>
      </div>

      <!--<div class="col-xs-6">
        <a href="#" class="latest-featured">
          <span class="icon-multicolor ic-festival-latest-featured-a"></span>
          Latest &amp; Featured
        </a>
      </div>
      <div class="col-xs-6">
        <a href="#" class="buy-tickets">
          <span class="icon-multicolor ic-festival-buy-tickets-a"></span>
          Buy Tickets
        </a>
      </div>
      <div class="col-xs-6">
        <a href="#" class="artists-lineup">
          <span class="icon-multicolor ic-festival-artists-lineup-a"></span>
          Artists Lineup
        </a>
      </div>
      <div class="col-xs-6">
        <a href="#" class="festival-news-social">
          <span class="icon-multicolor ic-festival-news-social-a"></span>
          News &amp; Social
        </a>
      </div>
      <div class="col-xs-6">
        <a href="#" class="places">
          <span class="icon-multicolor ic-festival-places-a"></span>
          Places
        </a>
      </div>
      <div class="col-xs-6">
        <a href="#" class="information">
          <span class="icon-multicolor ic-festival-information-a"></span>
          Information
        </a>
      </div> -->

    </div>
  </section>

</div>