<header class="main-header clearfix">
  <div class="wrapper">
    <h1 class="title">News &amp; Social</h1>
  </div>

  <div class="actions">
    <a href="#" class="ic-menu"></a>
  </div>

  <div class="user">
    <a href="#" class="ic-user"></a>
  </div>
</header>

<section class="global-tabs">
  <a href="#" class="tab selected-tab">Featured</a>
  <a href="#" class="tab">Blogs</a>
  <a href="#" class="tab">Social</a>
</section>

<section class="archive-list container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="#" class="item">
        <img class="bg-image" src="/images/placeholders/archive-list.jpg" alt="Hero Image">
        <span class="bg-image-effects"></span>

        <div class="content clearfix">

          <h3 class="title">Sun City Music Festival to Support Safer Communities Through Donation</h3>

          <time class="date">
            <span class="ic-date"></span>
            Fri, 18 July 2014
          </time>

          <div class="comments">
            <span class="ic-comment"></span>
            3 comments
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-md-6">
      <a href="#" class="item">
        <img class="bg-image" src="/images/placeholders/archive-list.jpg" alt="Hero Image">
        <span class="bg-image-effects"></span>

        <div class="content clearfix">

          <h3 class="title">Sun City Music Festival to Support Safer Communities Through Donation</h3>

          <time class="date">
            <span class="ic-date"></span>
            Fri, 18 July 2014
          </time>

          <div class="comments">
            <span class="ic-comment"></span>
            3 comments
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-md-6">
      <a href="#" class="item">
        <img class="bg-image" src="/images/placeholders/archive-list.jpg" alt="Hero Image">
        <span class="bg-image-effects"></span>

        <div class="content clearfix">

          <h3 class="title">Sun City Music Festival to Support Safer Communities Through Donation</h3>

          <time class="date">
            <span class="ic-date"></span>
            Fri, 18 July 2014
          </time>

          <div class="comments">
            <span class="ic-comment"></span>
            3 comments
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-md-6">
      <a href="#" class="item">
        <img class="bg-image" src="/images/placeholders/archive-list.jpg" alt="Hero Image">
        <span class="bg-image-effects"></span>

        <div class="content clearfix">

          <h3 class="title">Sun City Music Festival to Support Safer Communities Through Donation</h3>

          <time class="date">
            <span class="ic-date"></span>
            Fri, 18 July 2014
          </time>

          <div class="comments">
            <span class="ic-comment"></span>
            3 comments
          </div>
        </div>
      </a>
    </div>

  </div>

</section>
