<p>
  <label for="{{text1_id}}">Text 1</label>
  <br><br>
  <input class="widefat" type="text" name="{{text1_name}}" id="{{text1_id}}" value="{{text1}}"/>
</p>

<p>
  <label for="{{text2_id}}">Text 2</label>
  <br><br>
  <input class="widefat" type="text" name="{{text2_name}}" id="{{text2_id}}" value="{{text2}}" />
</p>

<p>
  <label for="{{text3_id}}">Text 3</label>
  <br><br>
  <input class="widefat" type="text" name="{{text3_name}}" id="{{text3_id}}" value="{{text3}}" />
</p>

<p>
  <input type="checkbox" name="{{output_name}}" id="{{output_id}}" value="html" {{# output}} checked="checked" {{/ output}} />
  <label for="{{output_id}}">HTML</label>
  <br>
  <em>Generate HTML widget output</em>
</p>

{{# images.meta.sel_image}}
<p>
  <img id="artist-lineup-widget-selected-image" src="{{images.meta.sel_image}}" alt="Selected Image">
</p>
{{/images.meta.sel_image}}

<p>
  <label for="{{image_id}}"><strong>Select an image</strong></label>
  <br><br>

  <select class="widefat artist-lineup-widget-image" name="{{image_name}}" id="{{image_id}}">
    <option value="">No image</option>
    {{# images.data}}
    <option value="{{src}}"
    {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
    {{/images.data}}
  </select>
</p>

<input type="hidden" value="{{images.meta.sel_image_id}}" name="{{image_image_name}}" id="{{image_image_id}}">

