<br>
<label for="dates">URLs</label>
 <br>
<table class="urls-multi">
  {{#urls}}
  <tr class="data-row">
    <td>
      <input class="widefat" id="{{urls_id}}" type="text" name="{{urls_name}}[]" value="{{value}}">
    </td>

    <td class="td-add">
      <a href="#" class="urls-add">Add</a>
    </td>
    <td class="td-remove">
      <a href="#" class="urls-remove">Remove</a>
    </td>
  </tr>
  {{/urls}}
</table>


<table class="urls-clone" style="display:none">
  <tr class="data-row">
    <td>
      <input class="widefat" type="text" name="{{urls_name}}[]" value="{{value}}">
    </td>

    <td class="td-add">
      <a href="#" class="urls-add">Add</a>
    </td>
    <td class="td-remove">
      <a href="#" class="urls-remove">Remove</a>
    </td>
  </tr>
</table>

</script>
