/**
 * Editor Styles
 *
 * Styles here are only to adjust the editor, the actual front-end styles are included automatically from:
 *
 * - /css/bootstrap.css
 * - /css/flawless-content.css
 * - /css/content.css
 *
 * To have your front-end styles be represented in the editor, create a content.css in your child theme's /css/ folder
 * Notice: creating a flawless-content.css will cause the original flawless-content.css to not be loaded.
 * 
 */

body#tinymce {
  padding: 1em;
}
