<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vendor/themes/wp-festival-2/static/styles
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} ^(.*)\.css$
  RewriteRule ^(.*)$ /manage/admin-ajax.php?action=wp_festival_compile_less&less_file=%1.css [L]
</IfModule>