.content-container {
  background: #c0183f;
}
.content-container .triangle-top {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="353.553px" height="176.777px" viewBox="0 0 353.553 176.777" enable-background="new 0 0 353.553 176.777" xml:space="preserve" preserveAspectRatio="none"><polyline style="fill: rgb(0,161,236);" points="0,176.777 176.777,0 353.553,176.777 "/></svg>');
}
.content-container .content-inner {
  color: #FFF;
}
.content-container .content-inner h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: none;
  word-break: break-all;
}
.content-container .content-inner hr {
  background: #FFF;
}
.content-container .content-inner .buy-tickets {
  background: #00a1ec;
  border: 2px solid #FFF;
  margin: 70px auto 70px auto;
}
.content-container .content-inner .buy-tickets .inner {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: none;
}
.content-container .content-inner .buy-tickets .inner strong {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 100%;
}
.content-container .content-inner .buy-tickets .inner small {
  font-size: 16px;
  font-weight: 700;
}
