{{# error}}
  There are no images in the media library. You need to upload an image first.
{{/error}}

{{^ error}}

  {{# images.meta.sel_image}}
    <p>
      <img id="hotel-widget-selected-image" src="{{images.meta.sel_image}}" alt="Selected Image">
    </p>
  {{/images.meta.sel_image}}

  <p>
    <label for="{{image_id}}"><strong>Select an image</strong></label>

    <select class="widefat hotel-widget-image" name="{{image_name}}" id="{{image_id}}">
      {{# images.data}}
        <option value="{{src}}"
          {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
      {{/images.data}}
    </select>
  </p>

  <input type="hidden" value="{{images.meta.sel_image_id}}" name="{{image_image_name}}" id="{{image_image_id}}">

  <p>
    <label for="{{name_id}}"><strong>Name</strong></label>
    <input type="text" class="widefat" name="{{name_name}}" id="{{name_id}}" value="{{name_value}}">
  </p>

  <p>
    <label for="{{location_id}}"><strong>Location</strong></label>
    <input type="text" class="widefat" name="{{location_name}}" id="{{location_id}}" value="{{location_value}}">
  </p>

  <p>
    <label for="{{distance_id}}"><strong>Distance from event</strong></label>
    <input type="text" class="widefat" name="{{distance_name}}" id="{{distance_id}}" value="{{distance_value}}">
  </p>

  <p>
    <label for="{{phone_id}}"><strong>Phone</strong></label>
    <input type="text" class="widefat" name="{{phone_name}}" id="{{phone_id}}" value="{{phone_value}}">
  </p>

  <p>
    <label for="{{book_now_link}}"><strong>Book Now Button Link</strong></label>
    <input type="text" class="widefat" name="{{book_now_link_name}}" id="{{book_now_link_id}}" value="{{book_now_link_value}}">
  </p>

  <p>
    <label for="{{price_id}}"><strong>Price</strong></label>
    <input type="text" class="widefat" name="{{price_name}}" id="{{price_id}}" value="{{price_value}}">
  </p>

  <p>
    <label for="{{discount}}"><strong>Discount</strong></label>
    <input type="text" class="widefat" name="{{discount_name}}" id="{{discount_id}}" value="{{discount_value}}">
  </p>

  <p>
    <label><strong>Services</strong></label>
  </p>

  {{# services}}
    <p>
      <input type="checkbox" name="{{name}}" id="{{id}}" {{# value}} checked="checked" {{/value}}><label for="{{id}}">{{label}}</label>
    </p>
  {{/services}}
{{/error}}