.wp-list-table.sites th.column-blog_id,
.wp-list-table.sites td.blog_id {
  width: 50px;
}
.wp-list-table.sites img.cluster-site-thumbnail {
  width: 250px;
  height: 150px;
  background-color: rgba(209, 209, 209, 0.64);
}
