/**
 * HDDP Global Styles for WP-Admin
 *
 * Copyright 2012 Insidedesign
 *
 */
.ud_key {
  text-align: center;
}
.hddp_advanced {
  display: none;
}
ul.ud_json_editor_sidemenu {
  margin: 35px 0 0 0;
  padding: 0;
}
ul.ud_json_editor_sidemenu > li {
  text-align: right;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #D5DDF6;
  border: 1px solid #97B0F8;
  border-right-width: 0;
}
div.jsoneditor-frame td {
  padding: 0;
}
div.hdd_manage_options {
  font-size: 15px;
  margin: 25px 40px 0 20px;
  max-width: 1050px;
  min-width: 770px;
  position: relative;
}
div.hdd_manage_options h2.manage_title {
  margin-bottom: 10px;
  color: #333333;
  text-shadow: 1px 1px 1px white;
  font-size: 2.8em;
  font-weight: 200;
  line-height: 1.2em;
}
div.hdd_manage_options ul.ud-options-list,
div.hdd_manage_options ul.ud-options-list li {
  list-style-type: none;
  margin: 0 0 10px 0;
}
div.hdd_manage_options .ud_tab_intro {
  color: #414141;
  font-size: 22px;
  margin: 3px;
}
div.hdd_manage_options .hddp_update {
  color: #C1C1C1;
  font-size: 25px;
}
div.hdd_manage_options .ud_pre {
  background: none repeat scroll 0 0 #323232;
  border-left: 10px solid #BE821B;
  color: #FEFFD5;
  font-size: 12px;
  height: 600px;
  line-height: 1.1em;
  margin-top: 17px;
  overflow: scroll;
  padding: 6px;
  white-space: pre-wrap;
  width: auto;
  overflow-x: hidden;
}
