/**
 * This is the skin file for worldwide site
 */
body {
  background-color: #ffffff;
}
body.location-worldwide-menu,
body.location-worldwide-festivals,
body.location-worldwide-events,
body.location-festival-menu {
  background-color: #132741;
}
.main-header {
  background: #148fb7;
  color: #ffffff;
}
.main-header a {
  color: #ffffff;
}
.menu-list a {
  color: #ffffff;
  border-bottom: 1px solid #334d6e;
}
.menu-list a.left {
  border-right: 1px solid #334d6e;
}
.menu-list a .icon-multicolor {
  color: #148fb7;
}
.menu-list a .icon-multicolor:after {
  color: #ffffff;
}
.archive-list .item {
  background: #132741;
}
.archive-list .item .bg-image-effects {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0)), color-stop(100%, #3e4f64));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3e4f64', GradientType=0);
}
.archive-list .item .bg-image-effects:after {
  -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
}
.archive-list .item .title,
.archive-list .item .date,
.archive-list .item .location,
.archive-list .item .comments,
.archive-list .item .ic-previous,
.archive-list .item .ic-next,
.archive-list .item .social {
  color: #ffffff;
}
.archive-list .item .social-panel .facebook {
  background: #3b5998;
}
.archive-list .item .social-panel .twitter {
  background: #55acee;
}
.global-tabs {
  background: #ffffff;
  border-bottom-color: #e7e8e9;
}
.global-tabs > .tab {
  border-bottom-color: #ffffff;
  color: #a9a7ac;
}
.global-tabs > .selected-tab {
  color: #148fb7;
  border-bottom-color: #148fb7;
}
.global-content {
  color: #333333;
}
.info-list {
  background: #ffffff;
  color: #333333;
  border-bottom-color: #f3f3f3;
}
.info-list .item {
  color: #333333;
  border-top-color: #f3f3f3;
}
.info-list .item .content .highlighted {
  color: #148fb7;
}
.info-list .item .ic-next {
  color: #d1d3d4;
}
.info-list .item .icon {
  color: #a7a9ac;
}
.button-primary {
  background: #148fb7;
  color: #ffffff;
}
.button-primary:hover {
  color: #ffffff;
}
.button-secondary {
  background: #148fb7;
  color: #ffffff;
}
.button-secondary:hover {
  color: #ffffff;
}
.button-disabled {
  background: #a7a9ac;
}
.button-facebook {
  background: #3b5998;
}
textarea {
  border-color: #e3e4e5;
}
.comments-list {
  background: #ffffff;
  border-bottom-color: #f3f3f3;
}
.comments-list .wrapper {
  border-top-color: #f3f3f3;
}
.comments-list .wrapper .comment .time {
  color: #a7a9ac;
}
.comments-list .wrapper .comment .content {
  color: #333333;
}
.discover-list {
  background: #ffffff;
  border-bottom-color: #f3f3f3;
}
.discover-list .category-title {
  background-color: #e7e8e9;
  color: #a7a9ac;
}
.discover-list .item {
  border-top-color: #f3f3f3;
}
.discover-list .item .wrapper .content .item-title {
  color: #333333;
}
.discover-list .item .wrapper .content .time,
.discover-list .item .wrapper .content .location {
  color: #a7a9ac;
}
.article .title,
.article .content {
  color: #090533;
}
.article .time {
  color: #808285;
}
.hero-image {
  background: #132741;
  color: #ffffff;
}
.hero-image .bg-image-effects {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0)), color-stop(100%, #3e4f64));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #3e4f64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3e4f64', GradientType=0);
}
.hero-image .bg-image-effects:after {
  -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
}
.hero-image .title {
  color: #ffffff;
}
.qa-list .wrapper .content .question {
  color: #090533;
}
.qa-list .wrapper .content .answer {
  color: #808285;
}
.qa-list .symbol {
  background: #148fb7;
  color: #ffffff;
}
.menu-page {
  background: #132741;
}
.menu-page .global-search form {
  border-bottom: 1px solid #334d6e;
}
