#global-editor-shell {
  border: 1px solid #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  height: 600px;
  position: relative;
  width: 99.5%;
}
#global-editor-shell .ace_editor {
  font-size: 12px;
  font-family: Consolas, Monaco, Courier, monospace;
}
body.appearance_page_amd-page-script ul.post-revisions .avatar,
body.appearance_page_amd-page-style ul.post-revisions .avatar {
  display: none;
}
body.appearance_page_amd-page-script #post-body-content,
body.appearance_page_amd-page-style #post-body-content {
  margin-right: 370px;
}
body.appearance_page_amd-page-script .inner-sidebar,
body.appearance_page_amd-page-style .inner-sidebar {
  width: 351px;
}
body.appearance_page_amd-page-script #side-sortables,
body.appearance_page_amd-page-style #side-sortables {
  width: 350px;
}
