#wp_amd_style_editor_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999999;
}
#wp_amd_style_editor_wrapper.closed {
  display: none;
}
#wp_amd_style_editor_wrapper #wp_amd_style_editor {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}
#wp_amd_style_editor_wrapper .wp-amd-style-editor-actions {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #444444;
  background: none repeat scroll 0 0 #EEEEEE;
}
#wp_amd_style_editor_wrapper .wp-amd-style-editor-actions .button {
  margin-top: 9px;
}
#wp_amd_style_editor_wrapper .wp-amd-style-editor-actions .button#wp_amd_style_editor_button_cancel {
  float: left;
}
#wp_amd_style_editor_wrapper .wp-amd-style-editor-actions .button#wp_amd_style_editor_button_done {
  float: right;
}
#wp_amd_default_style_editor {
  display: none;
}
